a.anchor {
  display: block;
  position: relative;
  top: -4em;
  visibility: hidden;
}

@font-face {
    font-family: "StarFont";
    font-style: normal;
    font-weight: normal;
    src: asset-url('/assets/fonts/starjhol-webfont.ttf') format('truetype');
}

del {
    position: relative;

    &:after {
        border-bottom: 0.125em solid red;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
    }
}

a {
    cursor: pointer;
}

.right {
    float: right;
}

.left {
    float: left;
}

.hidden {
    display: none;
}

.clear {
    clear: both;
    height:0;
}

.fakehover {
    position: relative;

    &::after {
        content: " ";
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background: rgba(255,255,255,0.15);
        border-radius: 50%;
        opacity: 0;
        @include transition(opacity 0.125s ease-in-out);
    }

    &:hover {

        &::after {
            opacity: 1;
        }
    }

    &.dark {

        &::after {
            background: rgba(0,0,0,0.15);
        }
    }
}
