@import "./frontend/variables";

header.portfolios {

    nav {
        height: 100%;
        font-size: 2em;
        display: block;
        margin-bottom: 3em;

        ul {
            display: inline-block;

            li {
                margin: 0 0.5em;

                a {
                    background-color: red;
                    text-align:center;
                }

                &.active {

                    a {
                        font-size: 2em;
                    }

                    ul {
                        margin-top: -3em;
                    }
                }

                ul {
                    display: inline-table;
                    vertical-align: baseline;
                    text-align: left;
                    padding-left: 0.5em;
                    height:100%;

                    li {
                        display: inline-block;
                        margin:0 0.25em;
                        white-space: nowrap;
                        vertical-align: baseline;
                        text-align: center;

                        a {
                            display: inline-block;
                            text-align: center;
                        }

                        a.title {
                            text-emphasis: none;
                            font-style: normal;
                            font-size: 1em !important;
                            background: none;
                            writing-mode: vertical-rl;
                            margin: 0 auto;
                            padding-bottom: 0.25em;
                            @include rotate(45deg);
                            transform-origin: left bottom;
                            position: relative;
                            left:0.75em;

                            b {
                                display: inline-block;
                                @include rotate(180deg);
                            }

                            &:before {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
