@import "./frontend/variables";

header.portfolios {

    nav {
        font-size: 2em;
        display: block;

        ul {
            display: inline-block;
            margin: 0.5em 0;

            li {
                margin: 0 0.5em;
                vertical-align: middle;
                //display: flex;

                a {
                    background-color: red;
                    text-align:center;
                    vertical-align: middle;
                }

                a.top_menu {
                    //float: left;
                }

                &.active {
                    //display: flex;
                    //align-items: center;
                    //
                    /*p {
                        text-align: left;
                    }*/

                    a {
                        font-size: 2em;
                        //display: block;
                        //shape-outside: border-box;
                    }

                    ul {

                    }
                }

                ul {
                    display: inline-table;
                    vertical-align: middle;
                    text-align: left;
                    padding-left: 0.5em;
                    height:100%;
                    //display: inline;;
                    //margin-left:6em;

                    & > a {
                       //margin-bottom: 25%;
                       //position: relative;
                       //top: 50
                       //bottom: 50%;
                       //float:left;
                    }

                    li {
                        display: block;
                        margin: 0.25em;
                        white-space: nowrap;

                        a {
                            font-size: 1em !important;
                        }

                        a.title {
                             background: none;

                            &:before {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
