
div.preview {
    display: inline-table;
    width: 100%;
    padding: 1em;
    box-sizing: border-box;

    figure {
        display: inline-block;

        picture {
            max-width: 100%;
            display: inline-block;
            position: relative;
            @include gradient(-45deg, #000, #111);
            @include border_shadow(4px, 4px, $space_black);

            img {
                display: block;
                max-width: 100%;
                max-height:100%;
            }
        }

        &.pc {

            picture {
                border: 1.5em solid $half;
                border-radius: 1.5em;
                margin-bottom: 4em;

                &::after {
                    content: " ";
                    width:50%;
                    height: 3em;
                    display: block;
                    background-color: $hell_grey;
                    border-bottom-left-radius: 3em;
                    border-bottom-right-radius: 3em;
                    margin: 0 auto;
                    position: absolute;
                    margin-top: 2em;
                    top: 100%;
                    left:25%;
                    right: 25%;
                }
            }
        }

        &.tablet {

            picture {
                border: 20px solid $half;
                border-radius: 1em;
            }
        }

        &.cell {
            text-align: left;

            picture {
                border: 10px solid $half;
                border-top-width: 40px;
                border-bottom-width: 40px;
                border-radius: 20px;

                &::before {
                    content: " ";
                    display: block;
                    width: 40px;
                    height:6px;
                    background-color: $hell_grey;
                    position: absolute;
                    bottom: 100%;
                    left: 100px;
                    margin-bottom:17px;
                }

                &::after {
                    content: " ";
                    display: block;
                    width: 32px;
                    height: 32px;
                    border-radius: 100%;
                    background-color: $hell_grey;
                    position: absolute;
                    top: 100%;
                    left: 104px;
                    margin-top: 4px;
                }
            }
        }
    }
}

div.preview.responsive {

    figure {
        padding:1%;

        &.pc {
            width:36%;
            vertical-align: top;

            picture {
                min-width: 768px;
                min-height: 480px;
                margin-left: 50%;
                @include translate_x(-50%);
            }
        }

        &.tablet {
            width: 36%;

            picture {
                max-width:480px;
                min-width:480px;
                min-height: 360px;
                margin-left: 100%;
                @include translate_x(-100%);
            }
        }

        &.cell {
            width:22%;
            margin-top:160px;

            picture {
                width: 240px;
                min-width: 240px;
                min-height: 320px;
                max-height: 480px;
            }
        }
    }
}