section#portfolio {

    article {
        vertical-align: middle;
        overflow: visible;
        position: relative;
        min-height: 336px;

        h2 {
            font-size: 4em;
            margin-bottom:0.375em;
            word-break: break-all;

            a {
                @include underline_on_hover($white, 0.125em);
            }
        }

        h3 {
            font-size: 1.875em;
            line-height: 1.0625em;
            font-weight: normal;
            margin-bottom:0.625em;
        }

        div.portfolio_text_preview {
            position:relative;
            font-size: 1.125em;
            line-height: 1.25em;
            color: $grey;
            min-height:4em;
        }

        div.portfolio_actions {
            min-height:3em;
            background-color: $space_black;
            line-height: 3em;
            @include box_sizing();

            a {
                display: inline-block;
                vertical-align: middle;
                font-size: 1.5em;
                font-weight: bold;
                padding:0 0.5em;
                background-color: #444;
                vertical-align:middle;
                margin:0.5em;
                border-radius: 1.5em;
                @include transition(all 0.25s ease-in-out);

                &:hover {
                   @include transform(translate(0, -0.5em));
                }
            }
        }

        & > div.portfolio_actions {
            width:100%;
            position: absolute;
            bottom: 0;
            text-align: right;

            &:before {
                content: '';
                display: block;
                height: 4em;
                width: 100%;
                position: absolute;
                bottom:100%;
                padding-bottom:1em;
                @include gradient_from_bottom_to_alpha();
            }

            div {
                display:inline;
            }
        }

        figure {
            display:block;
            width: 320px;
            position: relative;
            float:left;
            padding-bottom:320px;
            border-radius: 50%;
            shape-outside: margin-box;
            overflow:hidden;
            @include shadow(0, 0, 1em, 0.5em); // odstranit v prod.
            margin: 2em;

            picture {
                position: absolute;
                top:0%;
                left:0%;
                right: 0%;
                bottom: 0%;

                img {
                    background-color: $grey;
                    height: 100%;
                    display: block;
                    border-radius:50%;
                }

                @include zoom();
            }
        }
    }

    @media only screen and (min-width: 801px) {

        article {

            h2 {
                &.lores { display:none; }
            }

            &:nth-child(2n) {
                text-align: right;

                figure {
                    float:right;
                }

                & > div.portfolio_actions {
                    text-align: left;
                }
            }
        }
    }

    @media only screen and (max-width: 800px) {

        article {
            margin-bottom: 10em;
            min-height: 440px;

            h2 {
                &.hires { display: none; }
            }

            h3 {
                font-size: 1.5em;
            }

            div.portfolio_actions {
                text-align:left;
                top: 100%;
            }

            figure {
                margin: 1em;
                @include shadow(0, 0, 0em, 0em);
            }
        }
    }

    @media only screen and (max-width: 533px) {

        article {
            text-align: center;

            figure {
                margin: 0 auto;
                margin-bottom:1em;
                right:0;
                float: none;
                width:360px;
                padding-bottom: 360px;
            }

            div.portfolio_actions {
                text-align:center;
            }
        }
    }
}

@media only screen and (max-width: 480px) {

    section#portfolio {

        article {
            padding: 0 0.5em;
        }
    }

    section.pagination {
        padding: 1em 0.25em;
    }
}

@media only screen and (max-width: 360px) {

    section#portfolio {

        article {

            figure {
                width:320px;
                padding-bottom: 320px;
            }
        }
    }
}

@media only screen and (max-width: 320px) {

    section#portfolio {

        article {

            figure {
                width:304px;
                padding-bottom: 304px;
            }
        }
    }
}


