@import "./frontend/variables";

nav.regular, nav.for_nojs {
    background-color: $black;
    color: $white;
    padding: 0 0.5em;

    & > * {
        display: block;
    }

    h1 {
        float:left;
        padding: 0.25em;
    }

    ul {
        float: right;

        li {
            display: inline-block;
            padding: 0.25em;

            a {

            }
        }
    }

    &.for_nojs {

    }

    &.regular {
        display:none;
    }

    @include clearfix();
}
