@import "./frontend/variables";

nav.regular, nav.for_nojs {
    background-color: $black;
    color: $white;
    padding: 0.25em 0.5em;
    @include web_logo(1em);

    figure.web_logo {
        display:inline-block;

        div.text {
            font-size: 2.25em;
        }
    }

    & > * {
        display: block;
    }

    ul {
        display:inline-block;
        padding: 0 1em;

        li {
            display: inline-block;
            margin: 0 0.5em;

            a {
                display: inline-table;
                padding: 0.25em;
                border-radius:50%;
                background-color: red;

                &:before {
                    content: '\200B';
                    display: inline-block;
                    padding-top: 100%;
                    height: 0;
                    vertical-align: middle;
                }

                span {
                     vertical-align: middle;
                     font-weight: bold;
                     font-size:1.125em;
                }
            }
        }
    }

    &.for_nojs {

    }

    &.regular {
        display:block;
        position: fixed;
        top: 0;
        left:0;
        right:0;
        display:none;
    }

    @include clearfix();
}
