main {
    display: flex;
    flex-direction: column;

    section {
        flex: 1 0 auto;
    }

    section#serials {
        text-align: center;

        article {
            width: 288px;
            height: 216px;
        }
    }

    section#blogs {

        article.blog {
            min-height: 320px;
            min-height: 24em;
            max-height: 480px;
            //height:320px;
        }

        article.all_posts {
            height: auto;

            h1 {
                font-size: 6em;
                line-height: 1.5em;
                text-align: center;

                a {

                }
            }
        }
    }

    section#foot {
        flex: 0 0 auto;
    }
}
