@import "./frontend/variables";

body.blog {
    height:100%;

    header {
        padding-top: 3%;
    }

    main {
        display: flex;
        flex-direction: column;

        section#blogs {
            flex: 1 0 auto;

            article {
                min-height: 320px;
                min-height: 24em;
                //height:320px;
            }
        }

        section#foot {
            flex: 0 0 auto;
        }
    }
}
