@import "./frontend/variables";

body {

    header.homepage {
        background-color: $space_black;
        width: 100%;
        background-color: black;
        display:table;
    }

    main {

        section {
            padding: 3%;

            @include box_sizing();

            &#intro, &#skills {
                min-height: 100%;
            }

            &#news, &#shortinfo {
                min-height: 50%;
            }

            &#news, &#skills, &#contact, &#shortinfo {

                h2 {
                    font-size:5em;
                }

                article {
                    padding-left:0.5em;
                }
            }

            &#contact {
                min-height: 5em;
            }

/* ----------------------------------------------------------------------------- */

            &#intro {
                background-color: $space_softblack;
                color: $white;
                display: block;
                display:flex;
                flex-direction: column;

                article#short_about_me {
                    display:table; //IE
                    flex: 0 0 auto;
                    width:100%;
                    min-height: 8em;
                    //transform: rotateX(50deg);
                }

                article#menu {
                    height: 100%;
                    width:100%;
                    padding-left:2em;
                    @include box_sizing();
                    display:table;      // kvoli IE srotom
                    display:flex;
                    flex-direction: row;
                    flex: 1 0 100%;

                    div#ship_body, div#ship_solar_panels {
                        display:table-cell;     // pre srot IE
                        vertical-align:middle;  // pre srot IE
                        display: flex;
                        flex-direction: column;
                    }

                    div#ship_body {
                        width: 20%;
                        vertical-align: top;
                        flex: 0 0 20%;
                        justify-content: center;
                    }

                    div#ship_solar_panels {
                        flex: 1 0 80%;
                        display: flex;
                        flex-direction: column;

                        nav {
                            flex: 1 0 auto;
                            display: flex;
                            flex-direction: column;

                            ul {
                                padding-left:5%;
                                flex: 1 0 auto;
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;

                                li {
                                    display:table; // IE srot fallback
                                    width:100%;
                                    //margin: 3% 0;

                                    &:first-child {
                                        margin-top: 5%;
                                    }

                                    &:last-child {
                                        margin-bottom: 5%;
                                    }
                                }
                            }
                        }
                    }
                }

            }

            &#news {
                background-color: $space_lightblack;
                color: $white;
            }

            &#skills {
                color: $white;
                background-color: $space_near;
                display: block;

                h2 {
                    text-align: left;
                    padding-bottom: 0.25em;
                    flex: 0 0 100%;
                    align-self: flex-start;
                }

                article {
                    height: 100%;
                    vertical-align: middle;
                }
            }

            &#skills_description {
                color: $white;
                background-color: $space_blue;
            }

            &#shortinfo {
                color: $black;
                background-color: $sky_blue;
            }

            &#contact {
                background-color: $ground_beige;
                color: $white;
            }
        }
    }
}


