
main {

    section {

        &#top, &#skills {
            min-height: 100%;
        }

        &#novinky, &#o-mne {
            min-height: 50%;
        }

        &#kontakt {
            min-height: 5em;
        }

        &#top {
            background-color: $space_softblack;
            color: $white;
        }

        &#novinky {
            background-color: $space_lightblack;
            color: $white;
        }

        &#skills {
            color: $white;
            background-color: $space_near;
        }

        &#o-mne {
            color: $dirty_white;
            background-color: $space_blue;
        }

        &#kontakt {
            background-color: $earth_blue;
            color: $white;
        }

        &#foot {
            background-color: $ground_beige;
            color: $black;
        }

/* ----------------------------------------------------------------------------- */

        &#top {
            display: block;
            display:flex;
            flex-direction: column;

            article#menu {
                height: 100%;
                width:100%;
                max-width:100%;
                padding-left:2em;
                @include box_sizing();
                display:table;      // kvoli IE srotom
                display:flex;
                flex-direction: row;
                flex: 1 0 100%;

                div#ship_body, div#ship_solar_panels {
                    display:table-cell;     // pre srot IE
                    vertical-align:middle;  // pre srot IE
                    display: flex;
                    flex-direction: column;
                }

                div#ship_body {
                    width: 10%;
                    vertical-align: top;
                    flex: 0 0 10%;
                    justify-content: center;
                }

                div#ship_solar_panels {
                    flex: 1 0 90%;
                    display: flex;
                    flex-direction: column;
                    @include box_sizing();

                    nav {
                        flex: 1 0 auto;
                        display: flex;
                        flex-direction: column;
                        @include box_sizing();

                        ul {
                            padding-left:5%;
                            flex: 1 0 auto;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-around;
                            @include box_sizing();

                            li {
                                display:table; // IE srot fallback
                                width:100%;
                                @include box_sizing();

                                &:first-child {
                                    margin-top: 5%;
                                }

                                &:last-child {
                                    margin-bottom: 5%;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 800px) {

            &#top {

                article#menu {
                    display: block;
                    padding-left:0;

                    div#ship_body {
                        flex-direction: row;
                        width: auto;
                        height: 8em;
                    }

                    div#ship_solar_panels {
                        padding: 0 5%;
                        padding-top: 4em;

                        nav {

                            ul {
                                padding-left: 0;

                                li {
                                    display: block;

                                    &:first-child {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        @media only screen and (max-width: 480px) {

            &#top {
                padding-top: 3em;

                article#menu {

                    div#ship_body {
                        justify-content: flex-start;
                    }

                    div#ship_solar_panels {
                        padding: 0 0.5em;
                        padding-top: 4em;

                        nav {

                            ul {

                                li {

                                    &:last-child {
                                        margin-bottom: 5em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

/* ----------------------------------------------------------------------------- */

        &#novinky {
            display: table;
            width: 100%;

            aside {
                display: table-cell;
                vertical-align: middle;
                padding-left:6em;
                padding-right:3.5em;
                padding-top:6em;
            }

            article {
                padding-left:1em;
                padding: 0.5em;

                a {
                    text-decoration: underline;
                    font-weight: bold;
                    font-style: italic;
                }
            }

            @media only screen and (max-width: 640px) {

                aside {
                    display: block;
                }
            }
        }

/* ----------------------------------------------------------------------------- */

        &#skills {

            aside {
                display: block;
                position: relative;
                padding-top:2.125em;
                padding-bottom:1.5em;

                figure {
                    display: inline-block;
                    padding-right: 6em;
                    //@include box_sizing();
                }
            }

            article {
                vertical-align: middle;
                display: table;
                vertical-align:middle;
                margin: 5% auto;

                div.description {
                    display: table-cell;
                    vertical-align:middle;

                    figure {
                        width: 8em;
                        height: 8em;
                        display: inline-table;
                    }
                }

                div.projects {
                    display: table-cell;

                     a {
                        display: inline-table;
                    }
                }
            }
        }

        @media only screen and (max-width: 640px) {

            &#skills {

                article {
                    margin: 3em auto;
                    padding: 0.5em;

                    div.description, div.projects {
                        display: table;
                        margin: 1em auto;
                    }
                }
            }
        }

/* ----------------------------------------------------------------------------- */

        &#o-mne {

            aside, article {
                display:table-cell;
                vertical-align: middle;
            }

            article {
                padding-left: 1em;
            }

            @media only screen and (max-width: 480px) {

                aside, article {
                    display: block;
                }

                article {
                    padding: 0.5em;
                }
            }
        }

        &#kontakt {
            padding-bottom:0;
            display: table;
            width: 100%;

            article, aside {
                display: table-cell;
                vertical-align:bottom;
            }

            article {
                padding-right: 1.5%;
                padding-bottom: 3%;
            }

            aside {
                width:1%;
                padding-left: 1.5%;
            }

            @media only screen and (max-width: 640px) {

                article, aside {
                    display: block;
                    padding:0;
                }

                aside {
                    width:auto;
                    padding-top: 12em;
                }
            }

            @media only screen and (max-width: 480px) {
                padding:0.5em;
                padding-bottom: 0;
            }

        }
    }
}



