@import "./frontend/variables";

body.portfolio {
    height:100%;

    main {
        display: flex;
        flex-direction: column;

        section#portfolio {
            flex: 1 0 auto;
            //text-align: center;

            article {
                //display: inline-table;
                vertical-align: middle;
                //padding: 3% 2%;
                margin-bottom: 6%;
                //margin: 0 2%;
                //min-width: 33%;
                //max-width:46%;
                //margin: 0 auto;
                //@include box-sizing();
            }
        }

        section#foot {
            flex: 0 0 auto;
        }
    }
}


