@import "./admin/admin_vars";

body.admin {

    nav {
        margin-bottom:0.5em;

        ul {

            li {
                display: inline-block;

                a {
                    font-size:2.5em;
                    display: inline-block;
                    padding:0.125em 0.25em;

                    &.active {
                        color: white;
                        background-color: black;
                    }

                    &.red {
                        background-color: $admin_top_menu_back_to_web;
                    }

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
