// parent - section.intro
@import "variables";

section#intro {

    article#short_about_me {
        position: relative;
        @include sputnik(0, 0, 8em, 45deg);

        & > div, & > figure {
            display: table-cell;
        }

        & > div {
            min-height: 4em;
            width:80%;
            padding: 0 4em;

            p {

                span.icon {
                    font-size:2em;
                    @include icons_base($terminal_green_darker);

                    &#about_me_info_icon {
                        @include info_icon($terminal_green_darker, $terminal_bg);
                    }

                    &#about_me_home_icon {
                        @include home_icon($terminal_green_darker, $terminal_bg);
                    }

                    &#about_me_work_icon {
                        @include work_icon($terminal_green_darker, $terminal_bg);
                    }

                    &#about_me_hobby_icon {
                        @include heart_icon($terminal_green_darker, $terminal_bg);
                    }
                }
            }
        }

        figure {
            width:20%;
            position: relative;

            & > span {
                color: $red;
                font-size:5em;
                font-weight: bold;
                position:absolute;
                transform: rotate(-45deg);
                right: 100%;
                bottom: 80%;
            }
        }
    }
}
