// parent - section.intro
@import "variables";

section#intro {

    article#short_about_me {
        display:table;
        width:100%;
        min-height: 8em;
        position: relative;
        @include sputnik(0, 0, 8em, 45deg);

        & > div, & > figure {
            display: table-cell;
        }

        & > div {
            vertical-align:middle;
            min-height: 4em;
            width:80%;
            padding: 0 4em;
            text-align:right;

            p {
                text-align: left;
                display:inline-block;
                position: relative;
                padding: 0 0.25em;
                padding-top: 1.5em;
                padding-bottom: 0.375em;
                padding-right: 0.5em;
                background-color: $terminal_bg;
                color: $terminal_green;

                span {
                    vertical-align:middle;
                    display: inline-block;

                    a {
                        font-style: italic;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                span#shortinfo_window_title {
                    position: absolute;
                    left:0;
                    top:0;
                    background-color: $bord;
                    color: $white;
                    width:100%;
                    display:block;
                    vertical-align: bottom;
                    padding: 0.125em 0.25em;
                    @include box_sizing();
                }

                span.icon {
                    font-size:2em;
                    @include icons_base($terminal_green_darker);

                    &#about_me_info_icon {
                        @include info_icon($terminal_green_darker, $terminal_bg);
                    }

                    &#about_me_home_icon {
                        @include home_icon($terminal_green_darker, $terminal_bg);
                    }

                    &#about_me_work_icon {
                        @include work_icon($terminal_green_darker, $terminal_bg);
                    }

                    &#about_me_hobby_icon {
                        @include heart_icon($terminal_green_darker, $terminal_bg);
                    }
                }
            }
        }

        figure {
            width:20%;
            position: relative;

            & > span {
                color: $red;
                font-size:5em;
                font-weight: bold;
                position:absolute;
                transform: rotate(-45deg);
                right: 100%;
                bottom: 80%;
            }
        }
    }
}
