 // parent - section.intro
@import "variables";

section#intro {

    article#menu {

        div#ship_body {
            position: relative;
            border-radius: 1000em;
            position: relative;
            background-color: $rocket_bg;

            section#me_photo {
                width: 72%;
                padding:0;
                padding-bottom: 72%;
                position: relative;
                margin: 3em auto;

                picture {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom:0;
                    right:0;
                    border: 1em solid $rocket_parts_1_bg;
                    border-radius:50%;
                    overflow: hidden;

                    img {
                        position: relative;
                        height:100%;
                        border-radius:50%;
                        display: block;
                    }
                }
            }
        }
    }
}


