 // parent - section.intro
@import "variables";

section#intro {

    article#menu {

        div#ship_body {
            position: relative;
            border-top: 5em solid $rocket_nose_bg;
            border-top-left-radius: 100em;
            border-top-right-radius: 100em;
            position: relative;
            background-color: $rocket_bg;
            border-bottom: 2.5em solid black;

            &::after {
                content: '';
                position: absolute;
                display:block;
                left:0;
                right:0;
                bottom:-2em;
                height: 4em;
                width:100%;
                background-color: $rocket_parts_1_bg;
                border-radius: 50%;
            }

            section#me_photo {
                border-top: 3em solid transparent;
                margin-top: 10%;
                width: 64%;
                padding:0;
                padding-bottom: 70%;
                position: relative;
                margin: 0 auto;
                margin-bottom:3em;

                picture {
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom:0;
                    right:0;
                    border: 0.375em solid $rocket_parts_1_bg;
                    border-radius:50%;
                    overflow: hidden;

                    img {
                        position: relative;
                        right: 5%; // (6/64*100)/2
                        height:100%;
                        border-radius:50%;
                        display: block;
                    }
                }
            }
        }
    }
}


