@import "variables";

section#skills {
    text-align:center;
    vertical-align: middle;

    h2 {
        text-align: left;
        padding-bottom: 0.25em;
    }

    article {
        height: 100%;
        padding:0;
        vertical-align: middle;
        display: inline-block;
        width: 30%;
        padding:1%;
        text-align: left;

        figure {
            width: 100%;
            &.size_1 { /* bezo zmien */ }
            &.size_2 { width: 94%; font-size:0.94em; }
            &.size_3 { width: 88%; font-size:0.88em; }
            &.size_4 { width: 82%; font-size:0.82em; }
            &.size_5 { width: 76%; font-size:0.76em; }

            height: 100%;
            position: relative;

            h3, h6 {
                position: absolute;
                background-color: $soft_black;
                color: $white;
                display: inline-block;
                padding:0.25em;
                border-radius: 50%;
            }

            div {
                width: 75%;
                height: 100%;
                padding-bottom: 75%;
                margin: 0 auto;
                border-radius:51%;
                position: relative;

                background-color: red;
            }

            h3 {
                font-size:2em;
                //font-size: 100%;
                min-width: 30%;
                max-width: 40%;
                height: 40%;
                padding: 0.5em;
                display: block;
                text-align:center;
                @include box_shadow_big();
            }

            h6 {
                bottom:0;
                right:0;
                font-size: 2em;
                //height: 2em;
                height: 28%;
                min-width: 21%;
                font-weight: bold;

                small {
                    font-size:0.5em;
                    font-weight: bold;
                }
            }

            h3, h6 {

                span {
                    display: table;
                    height:100%;
                    width:100%;

                    span {
                        display: table-cell;
                        vertical-align:middle;
                    }
                }
            }
        }

        div {
            text-align: center;
        }
    }
}
