@import "variables";

section#skills {

    article {

        figure {
            width: 100%;
            &.size_1 { /* bezo zmien */ }
            &.size_2 { width: 93%; font-size:0.93em; }
            &.size_3 { width: 86%; font-size:0.86em; }
            &.size_4 { width: 79%; font-size:0.79em; }
            &.size_5 { width: 72%; font-size:0.72em; }
            height: 100%;
            position: relative;
            display: inline-block;

            div {
                width: 75%;
                height: 100%;
                padding-bottom: 75%;
                margin: 0 auto;
                border-radius:51%;
                position: relative;
                background-color: red;

                picture {
                    position:absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;

                    img {
                        border-radius:51%;
                        max-width: 100%;
                        max-height: 100%;
                    }
                }
            }

            span {
                background-color: green;
                min-width:2em;
                position:relative;
                //display: block;
                display:inline-block;
                overflow: visible;
                height:0;
                // width:2em;
                //padding-bottom: 100%;
                //vertical-align: middle;

                z-index:9;
                /*&::after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }*/

                b {
                     z-index:9;
                    //position:relative;
                    //display: table;
                    //display: inline-block;
                    display: block;
                    //height: 0;
                    //vertical-align: middle;
                    width:100%;
                    //padding-bottom: 100%;
                    opacity: 0;
                    background-color:yellow;
                    //overflow-y: hidden;

                    &::after {
                        content: "";
                        display: block;
                        padding-bottom: 100%;
                    }

                    /*u {
                         z-index:9;
                        //position: absolute;
                        //top:0;
                        //left:0;
                        //right:0;
                        //bottom:0;
                        display:table-cell;
                        vertical-align: middle;
                        //height:100%;
                    }*/
                }

                u {
                    position: absolute;
                    top:0;
                    left:0;
                    bottom:0;
                    right:0;
                }

            }
        }

        div.description {
            padding-top: 1em;
            text-align: center;

            h4  {
                font-size: 2.5em;
                padding-bottom:0.25em;
                font-weight:bold;
            }

            h3 {
               font-size: 2em;
               padding-bottom:0.25em;
               font-weight:bold;
            }

            b {
                font-size: 1.5em;
            }

            a {
                font-size:1.125em;
                padding: 0 0.25em;
            }
        }
    }
}
