@import "variables";

section#skills {

    article {

        figure {
            width: 100%;
            &.size_1 { /* bezo zmien */ }
            &.size_2 { width: 93%; font-size:0.93em; }
            &.size_3 { width: 86%; font-size:0.86em; }
            &.size_4 { width: 79%; font-size:0.79em; }
            &.size_5 { width: 72%; font-size:0.72em; }
            height: 100%;
            position: relative;
            display: inline-block;

            div {
                width: 75%;
                height: 100%;
                padding-bottom: 75%;
                margin: 0 auto;
                border-radius:51%;
                position: relative;
                background-color: red;
            }

            span {
                position: absolute;
                top:25%;
                left:0;
                width:100%;
                text-align: left;

                abbr {
                    border-radius:50%;
                    display: inline-block;
                    width:1em;
                    padding-bottom:1em;
                    vertical-align:middle;
                    margin: 0 2%;
                    @include box_shadow_moon($space_lightblack);

                    &.active {
                        @include moon(22%, $moon_active);
                    }

                    &.planned {
                        @include moon(20%, $moon_planned);
                    }

                    &.paused {
                        @include moon(15%, $moon_paused);
                    }

                    &.abandoned {
                        @include moon(13%, $moon_abandoned);
                    }
                }
            }
        }

        div.description {
            padding-top: 1em;
            text-align: center;
        }
    }
}
