// parent - section.intro
@import "variables";

section#intro {

    article#short_about_me {
        min-height: 8em;
        position: relative;
        @include sputnik(80%, 0em, 8em, 45deg);

        div#about_me_short {
            width:80%;
            min-height: 4em;
        }
    }
}
