section#comments {

    h3 {
        margin-bottom: 0.5em;
    }

    article#new_comment, article#comments_user_panel {

        div {
            margin: 0.5em 0;

            textarea {
                width: 100%;
                height: 6em;
                padding:0.25em 0.375em;
                border-radius: 0.5em;
                background-color: $light_black;
                color: white;
                @include box_sizing();
            }

            &.submit {
                text-align: right;
            }

            input[type=submit], span.comments_notice > a, a.storno {
                display: inline-block;
                background-color: transparent;
                color: $white;
                border: 0.25em solid $logo_orange;
                border-radius: 0.25em;
                padding:0.25em 0.5em;
                font-size: 1.25em;
                cursor: pointer;
                vertical-align: middle;
                line-height:1.125em;
                margin:0 0.25em;
                @include background_transition(0.25s);

                &:hover {
                    background-color: $logo_orange;
                    color: $black;
                }
            }

            span {
                display: inline-block;

                &.comments_notice {
                    display: inline-block;
                    font-size: 1.25em;
                    //background-color: $light_black;
                    padding: 0.5em;
                    border-radius: 0.25em;
                    font-weight: bold;
                }

                &.validation_error_message {
                    color: $bord;
                    margin-left: 0.5em;
                    font-size: 1.25em;
                    display: inline-block;
                    line-height:1.5em;
                }
            }
        }
    }

    article#new_comment {
        width:66%;
    }

    article#new_comments {
        margin-top:1em;

        div.comment {
            background-color: $light_black;
            padding:0.25em 0.5em;
            display: table;
            border-radius: 0.25em;
            margin:0.5em 0.125em;
            max-width: 66%;
            @include box_sizing();

            &.my {
                background-color: $earth_blue;
            }

            &.replying {
                border: 0.25em solid $logo_orange;
            }

            span {
                font-size: 1.125em;
                line-height: 1.125em;
                padding: 0.25em 0.125em;
                display: table;
                margin-top: 0.125em;
            }

            div {
                display: inline-block;

                & > b, i, a  {
                    vertical-align: middle;
                }

                i {
                    margin: 0 1em;
                }

                a {
                    padding: 0 0.25em;
                    border-radius: 0.125em;
                    @include background_transition(0.15s);

                    &:hover {
                        color: $logo_orange;
                    }

                    &.danger {

                        &:hover {
                            background-color: $bord;
                            color: $white;
                        }
                    }
                }
            }
        }

        div.comment, article#new_comment {

            &.sub1 {
                margin-left: 2em;
            }

            &.sub2 {
                margin-left: 4em;
            }

            &.sub3 {
                margin-left: 6em;
            }

            &.sub4 {
                margin-left: 8em;
            }

            &.sub5 {
                margin-left: 10em;
            }

            &.sub6 {
                margin-left: 12em;
            }
            /*
            &.sub7 {
                margin-left: em;
            }

            &.sub8 {
                margin-left: em;
            }

            &.sub9 {
                margin-left: em;
            }

            &.sub10 {
                margin-left: em;
            }
            */
        }
    }
}

