
body {

    div.gallery {
        position: fixed;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index: -1;
        background: rgba(0,0,0,0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        &.visible {
            z-index: 999;
            background: rgba(0,0,0,0.5);
        }

        div {

            &.top {

            }

            &.body {
                width: 100%;
                height: 100%;
                min-width: 0;
                max-width: 100%;
                position: relative;

                span {
                    position: absolute;
                    top:50%;
                    display: inline-block;
                    width:3em;
                    height: 3em;
                    border-radius: 50%;
                    background-color: black;
                    z-index: 96;
                    cursor: pointer;
                    //@include transition_for_transform(200ms);
                    -webkit-backface-visibility: hidden;
                    //border:0.25em solid $white;
                    margin-top: -1.75em;

                    &:hover {
                        //@include transform(scale(1.2));
                        //border-color: $strong_white;
                    }

                    p {
                        border-top: 1em solid transparent;
                        border-bottom: 1em solid transparent;
                        display: block;
                        position:absolute;
                        top: 0.5em;
                        margin:0;
                    }

                    &.left {
                        left:1em;

                        p {
                            left:0.625em;
                            border-left-width: 0px;
                            //border-right: 1.25em solid $white;
                        }

                        &:hover {

                            p {
                               // border-right-color: $strong_white;
                            }
                        }
                    }

                    &.right {
                        right: 1em;

                        p {
                            right:0.625em;
                            border-right-width: 0px;
                            //border-left: 1.25em solid $white;
                        }

                        &:hover {
                            border

                            p {
                                //border-left-color: $strong_white;
                            }
                        }
                    }

                    &.close {
                        top: 2.75em;
                        right: 1em;
                        text-align: center;

                        p {
                            position:relative;
                            height:1em;
                            line-height: 1em;
                            top:0.25em;
                            font-size: 2em;
                            border: none;
                            vertical-align: middle;
                        }
                    }
                }

                picture {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    position: absolute;
                    top:0.75em;
                    left:0.75em;
                    right:0.75em;
                    bottom:0;
                    border-radius: 0.5em;
                    text-align: center;

                    img {
                        min-width: 1px;
                        //min-height: 1px;
                        width: auto;
                        height: auto;
                        max-width: 100%;
                        max-height: 100%;
                        display: block;
                        border-radius: 0.5em;
                        border: 0.25em solid black;
                    }
                }
            }

            &.switcher {
                max-width: 100%;
                min-width: 100%;
                min-height: 5em;
                margin-top: 0.5em;
                white-space: nowrap;
                text-align: center;
                overflow: hidden;
                box-sizing: border-box;
                position: relative;
                vertical-align: middle;
                line-height: 5em;
                background-color: rgba(0,0,0,0.5);

                span {
                    z-index: 96;
                    display: inline-block;
                    position: fixed;
                    bottom:0;
                    width: 3em;
                    height: 5em;
                    background-color: black;
                    vertical-align: middle;
                    //position: relative;

                    &.hidden {
                        opacity: 0;
                        ///z-index: 97;
                    }
                }

                span p {
                    content: '';
                    display: inline-block;
                    position: absolute;
                    top: 1.5em;
                    margin:0;
                    cursor: pointer;
                    //@include transition_for_transform(200ms);
                    -webkit-backface-visibility: hidden;
                    // pre nieco skace prva sipka ked bezi na druhej

                    &:hover {
                        //@include transform(scale(1.2));
                    }
                }

                span.left {
                    left: 0;
                    background: linear-gradient(-90deg, rgba(0,0,0,0.0), rgba(0,0,0,1)), linear-gradient(-90deg, rgba(0,0,0,0.0), rgba(0,0,0,1));

                    p {
                        border-left-width: 0px;
                        border-top: 1em solid transparent;
                        border-bottom: 1em solid transparent;
                        //border-right: 1.25em solid $white;
                        left:0.25em;

                        &:hover {
                            //border-right-color: $strong_white;
                        }
                    }
                }

                span.right {
                    right:0;
                    background: linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,1)), linear-gradient(90deg, rgba(0,0,0,0.0), rgba(0,0,0,1));

                    p {
                        border-right-width: 0px;
                        border-top: 1em solid transparent;
                        border-bottom: 1em solid transparent;
                        //border-left: 1.25em solid $white;
                        right:0.25em;

                        &:hover {
                           // border-left-color: $strong_white;
                        }
                    }
                }

                picture {
                    display: inline-block;
                    vertical-align: middle;
                    border: 0.25em solid transparent;
                    border-radius: 0.5em;
                    position: relative;
                    cursor: pointer;
                    //z-index: 98;

                    &.first {
                        margin-left: 1.5em;
                    }

                    &.last {
                        margin-right: 1.5em;
                    }

                    &.selected {
                       // border-color: $strong_red;
                    }

                    img {
                        display: block;
                        border-radius: 0.25em;
                    }
                }
            }
        }
    }

    div.gallery.visible {
        background-color: rgba(0,0,0,0.80);
    }
}