nav.regular {
    z-index:99;
}

main {
    z-index: 0;

    section {
        z-index: 1;

        article {
            z-index: 2;
        }

        &#top {

            article#menu {
                div#ship_body { z-index: 3; }
            }
        }

        &#skills {

            aside {
                figure { z-index: 10; }
            }

            article {
                div.projects {
                    a {
                        span { z-index: 3; }
                    }
                }
            }
        }

        &#portfolio {

            article {
                figure { z-index: 3; }
            }
        }

        &#blogs {

            article {
                figure { z-index: 3; }
                h2, h3, div { z-index: 4; }
            }
        }
    }
}

