
section#note {

    article {
        font-size: 1.25em;

        h1 {
            font-size: 1.5em;
            margin-bottom: 0.375em;
        }

        em {
            margin-bottom: 1.5em;
            display: inline-block;
        }
    }
}