
section#show_work {
    padding: 0;
    padding-top: 2em;
    overflow-x: visible;
    font-size: 0.875em;

    article {

        div {

            div.imageswrapper {
                text-align: center;

                figure {
                    text-align: left;
                    display: inline-block;

                    picture {
                        display: inline-block;
                        min-height: 240px;
                        height: 240px;
                        line-height:240px;
                        vertical-align: middle;
                        margin: 1em;

                        img {
                            display: inline-block;
                            max-width: 320px;
                            max-height: 240px;
                            vertical-align: middle;
                            border-width:2px;
                            border-radius: 0.5em;
                            border-style: solid;
                        }
                    }

                    @media only screen and (max-width: 640px) {

                        picture {
                            min-height: 228px;
                            height: 228px;
                            line-height: 228px;

                            img {
                                max-width: 304px;
                                max-height: 228px;
                            }
                        }
                    }

                    @media only screen and (max-width: 533px) {

                        picture {
                            min-height: 360px;
                            height: 360px;
                            line-height: 360px;

                            img {
                                max-width: 480px;
                                max-height: 360px;
                            }
                        }
                    }

                    @media only screen and (max-width: 480px) {

                        & {
                            text-align: center;
                        }

                        picture {
                            min-height: 270px;
                            height: 270px;
                            line-height: 270px;
                            margin: 0.75em 0;

                            img {
                                max-width: 360px;
                                max-height: 270px;
                            }
                        }
                    }

                    @media only screen and (max-width: 375px) {

                        picture {
                            display: block;
                            line-height:1em;
                            min-height: initial;
                            height: auto;
                        }

                    }

                    @media only screen and (max-width: 360px) {

                        picture {

                            img {
                                max-width: 320px;
                                max-height: 240px;
                            }
                        }
                    }

                    @media only screen and (max-width: 320px) {

                        picture {

                            img {
                                max-width: 304px;
                                max-height: 228px;
                            }
                        }
                    }
                }
            }
        }
    }
}
