@import "./login/variables";

* {
    font-size: 1em;
}

input, select, textarea, button {
    -webkit-appearance:     none;
    -moz-appearance:        none;
    -ms-appearance:         none;
    -o-appearance:          none;
    appearance:             none;
    outline:    none;
    border-width:0.125em;
    border-style: solid;
    border-color: $frames;
    margin:0.125em;
    padding:0.125em 0.375em;
    background-color: $background;
    color: $text;
    border-radius: 0.5em;
}

input, select, textarea, button, label {
    font-size: 1.25em;
}

a {
    text-decoration: none;
    color: inherit;

    &:hover {
        text-decoration: underline;
    }
}

input[type=checkbox] {
    width:1em;
    height:1em;
    background-color: $checkbox_unchecked;
    @include inner_shadow($background, 0.125em, 0.125em);

    &:hover {
        background-color: $checkbox_unchecked_hover;
    }

    &:checked {
        background-color: $checkbox_checked;

        &:hover {
            background-color: $checkbox_checked_hover;
        }
    }

    &:disabled {
        border-color: $checkbox_unchecked;
        cursor: not-allowed;

        &:hover {
            background-color: $checkbox_unchecked;
        }

        & + label {
            color: $checkbox_unchecked;
            cursor: not-allowed;
        }
    }

}

button, input[type=submit] {

    &:hover {
        background-color: $frames;
        color: $background;
    }
}

button, input[type=submit], input[type=checkbox], input[type=checkbox] + label  {
    cursor: pointer;
    @include background_transition();
}


html {
    height: 100%;
    padding:0;
    margin:0;

    body {
        padding:0;
        margin:0;
        display: table;
        height: 100%;
        width: 100%;
        background-color: $background;
        color: $text;

        &.session {
            main { section { max-width: 50%; } }
        }

        &.registration {
            main {

                section {
                    padding: 10%;

                    div#accept_gdpr {
                        //display: table;

                        input {
                            display: block;
                            float: left;
                        }

                        label {
                            display: table;
                            margin-left:1.5em;

                            a {
                                color: $frames;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }

        header {
           display: table-cell;
           width:33%;
        }

        main {
            display: table-cell;
            vertical-align: middle;
            width:66%;

            section {
                display: table;
                margin: 0 auto;
                position: relative;

                form {

                    div.field, div.actions {
                        margin: 0.5em;

                        input, label {
                            vertical-align: middle;
                        }
                    }

                    div.warn {
                        padding: 0 0.75em;
                        line-height:1.125em;

                        a {
                            color: $frames;
                            cursor: pointer;
                        }
                    }
                }

                div.links {
                    margin: 0.5em;
                    text-align: right;
                    line-height: 2em;
                }

                figure.fighter:first-child {
                    @include rotate(-10deg);
                    margin-left: 100%;
                }

                figure.fighter:last-child {
                    @include rotate(10deg);
                    right: 7em;
                }
            }
        }
    }
}
