&.show {

    div.preview.responsive {

        // 768 - xl
        // 768x480
        // 480x360
        // 240x480
        div.bgs {

            figure {
                margin:0 0.5%;
                margin-bottom: 3em;
                float:left;

                &.pc {
                    width:45%;

                    picture {
                        min-width: 768px;
                        max-width: 768px;
                        min-height: 480px;
                    }
                }

                &.tablet {
                    width: 35%;

                    picture {
                        max-width:480px;
                        min-width:480px;
                        min-height: 360px;
                    }
                }

                &.cell {
                    width:17%;

                    picture {
                        width: 240px;
                        max-width:240px;
                        min-width: 240px;
                        min-height: 320px;
                        margin-left: 100%;
                        @include translate_x(-100%);
                    }
                }
            }
        }

        // 600 - l
        // 600x360
        // 360x272
        // 188x360
        @media only screen and (max-width: 1152px) {

            div.bgs {

                figure {

                    &.pc {

                        picture {
                            min-width:600px;
                            max-width:600px;
                            min-height: 360px;
                        }
                    }

                    &.tablet {

                        picture {
                            max-width: 360px;
                            min-width: 360px;
                            min-height: 272px;
                        }
                    }

                    &.cell {

                        picture {
                            width: 188px;
                            min-width:188px;
                            max-width:188px;
                            min-height:240px;

                            &::before {
                                left: 74px;
                            }

                            &::after {
                                left: 78px;
                            }
                        }
                    }
                }
            }
        }

        // 360 - m
        // 360x216
        // 216x160
        // 112x216
        @media only screen and (max-width: 800px) {

            div.bgs {

                figure {

                    &.pc, &.tablet {

                        picture {
                            border-width: 10px;
                        }
                    }

                    &.pc {
                        width: 46%;

                        picture {
                            min-width:360px;
                            max-width:360px;
                            min-height: 216px;
                            margin-bottom: 23px;

                            &::after {
                                height: 20px;
                                margin-top: 10px;
                                padding: 0 10px;
                                right: -14px;
                            }
                        }
                    }

                    &.tablet {
                        width:24.5%;

                        picture {
                            max-width: 216px;
                            min-width: 216px;
                            min-height: 160px;
                        }
                    }

                    &.cell {
                        width:24.5%;

                        picture {
                            width: 112px;
                            min-width:112px;
                            max-width:112px;
                            min-height:144px;
                            border-width: 6px;
                            border-top-width: 20px;
                            border-bottom-width: 20px;

                            &::before {
                                width: 30px;
                                height:4px;
                                left: 41px;
                                margin-bottom:8px;
                            }

                            &::after {
                                width: 16px;
                                height: 16px;
                                left: 48px;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }

        // 360 - m
        // to iste ako pre 800
        @media only screen and (max-width: 640px) {

            div.bgs {

                figure {

                    picture {
                        @include border_shadow(2px, 2px, $space_black);
                    }

                    &.pc {

                        picture {

                            &::after {
                                border-width: 2px;
                                right:-12px;
                            }
                        }
                    }
                }
            }
        }

        // 360 - m
        // to iste ako pre 800
        @media only screen and (max-width: 480px) {

            div.bgs {

                figure {
                    width:auto;
                    margin:8px;
                    display: inline-block;
                    float:none;

                    &.pc, &.tablet, &.cell {
                        width:auto;
                    }

                    &.cell {

                        picture {
                            margin-top: -100%;
                        }
                    }
                }
            }
        }

        // 320 - s
        // 320x192
        // to iste ako pre 800
        // to iste ako pre 800
        @media only screen and (max-width: 375px) {

            div.bgs {

                figure {
                    margin:1%;

                    &.pc, &.tablet {

                        picture {
                            border-width: 6px;
                        }
                    }

                    &.pc {

                        picture {
                            min-width:320px;
                            max-width:320px;
                            min-height: 192px;

                            margin-bottom: 14px;
                            border-top-left-radius: 0.5em;
                            border-top-right-radius: 0.5em;

                            &::after {
                                height: 12px;
                                right: -8px;
                                margin-top: 4px;
                                padding: 0 6px;
                            }
                        }
                    }

                    &.tablet {
                        width: 55%;

                        picture {
                            border-radius: 0.5em;
                        }
                    }

                    &.cell {
                        width:25%;

                        picture {
                            border-width: 4px;
                            border-top-width: 16px;
                            border-bottom-width: 16px;
                            border-radius: 0.75em;

                            &::before {
                                width: 20px;
                                height:3px;
                                left: 46px;
                                margin-bottom:6px;
                            }

                            &::after {
                                width: 12px;
                                height: 12px;
                                left: 50px;
                                margin-top: 2px;
                            }
                        }
                    }
                }
            }
        }

        // 240 - xs
        // 240x144
        // 144x106
        // 74x144
        @media only screen and (max-width: 320px) {

            div.bgs {

                figure {

                    &.pc {

                        picture {
                            min-width:240px;
                            max-width:240px;
                            min-height: 144px;
                        }
                    }

                    &.tablet {

                        picture {
                            max-width: 144px;
                            min-width: 144px;
                            min-height: 106px;
                        }
                    }

                    &.cell {

                        picture {
                            width: 74px;
                            min-width: 74px;
                            max-width: 74px;
                            min-height: 96px;

                            &::before, &::after {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
}