$admin_section_bg: #eee;
$admin_bg: #DDD;
$admin_hover_bg: #BBB;
$admin_prelight_bg: #999;

$admin_bg_invert: #222;
$admin_fg_invert: #EEE;

$admin_danger_bg: #B00;
$admin_danger_hover_bg: #F00;
$admin_danger_fg: #EEE;
$admin_danger_hover_fg: #FFF;
$admin_ok_bg: #00BA16;
$admin_ok_bg_hover: #00D91A;
$admin_aware_bg: #FF8000;
$admin_aware_bg_hover: #FF9C00;

$admin_top_menu_back_to_web:#00A3FF;

