main {
    z-index: 0;

    section {
        z-index: 1;

        article {
            z-index: 2;
        }

        &#intro {

            /*article#short_about_me {

                div#sputnik {
                    z-index: 4;

                    span:nth-child(4) {
                        z-index:3;
                    }
                }
            }*/

            article#menu {

                div#ship_body { z-index: 3; }
            }
        }

        &#skills {

            article {

                figure {

                    div { z-index: 4; }
                    //h3 { z-index:5; }
                    h6 { z-index:5; }
                }
            }
        }
    }
}
