main {
    z-index: 0;

    section {
        z-index: 1;

        article {
            z-index: 2;
        }

        &#skills {

            article {

                figure {

                    div { z-index: 4; }
                    h3 { z-index:5; }
                    h6 { z-index:3; }
                }
            }
        }
    }
}
