$admin_bg: #DDD;
$admin_hover_bg: #BBB;
$admin_prelight_bg: #999;

$admin_bg_invert: #222;
$admin_fg_invert: #EEE;

$admin_danger_bg: #B00;
$admin_danger_hover_bg: #F00;
$admin_danger_fg: #EEE;
$admin_danger_hover_fg: #FFF;

