@import "variables";

header.homepage {
    height: 12em;
    width: 100%;
    background-color: green;
}

section {
    min-height: 100%;

    &.intro {
        background-color: $white;
        // kvoli IE srotom
        display:table;
        width:100%;
        border-spacing: 1.5em;
        border-collapse: separate;
        /* --- */
        @include flex_container();

        border: 1px solid red;
    }
}


