@import "variables";

body {

    header.homepage {
        height: 25%;
        width: 100%;
        background-color: black;
        border-bottom: 1px dashed red;
    }

    main {

        section {
            padding: 3%;

            @include box_sizing();

            &#intro, &#skills {
                min-height: 100%;
            }

            &#news {
                min-height: 50%;
            }

            &#news, &#skills, &#contact {

                h2 {
                    font-size:5em;
                }

                article {
                    padding-left:0.5em;
                }
            }

            &#contact {
                min-height: 5em;
            }

            &#intro {
                background-color: $space_black;
                color: $white;

                article#short_about_me {
                    padding-bottom: 3em;
                }

                article#menu {
                    display:table;      // kvoli IE srotom
                    width:100%;
                    padding-left:2em;
                    @include box_sizing();
                    //padding-bottom: 2%;
                    //perspective: 1000px;
                    //padding-left: 4%;
                    //border-spacing: 1.5em;
                    //border-collapse: separate;
                    /* --- */
                    //padding-left: 0.25em;
                    //@include box_sizing();
                    //@include flex_container();

                    div#ship_body, div#ship_solar_panels {
                        display:table-cell; // pre srot IE
                        vertical-align:middle;
                        //transform: rotateX(10deg);
                        // ignorovane IE srotmi (table-cell)
                        //margin:1%;
                        //margin-top: 2%;
                        //margin-bottom: 2%;
                        /* --- */
                    }

                    div#ship_body {
                        width: 20%;
                        vertical-align: top;
                    }
                }

            }

            &#skills {
                color: $white;
                background-color: $space_blue;
            }

            &#news {
                background-color: $sky_blue;
                color: $black;
            }

            &#contact {
                background-color: $ground_beige;
                color: $white;
            }
        }
    }
}


