@font-face {
    font-family: "StarFont";
    font-style: normal;
    font-weight: normal;
    src: asset-url('/assets/fonts/starjhol-webfont.ttf') format('truetype');
}

del {
    position: relative;

    &:after {
        border-bottom: 0.125em solid red;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
    }
}

a {
    cursor: pointer;
}

