@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin background_transition($time) {
    @include transition(background-color $time ease-in-out);
}

@mixin underline_on_hover($color, $height:0.0625em) {
    & {
        text-decoration:none;
        position: relative;
    }
    &::after {
        @include background_transition($transition_time_fast);
        content: '';
        display: block;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        height: $height;
    }
    &:hover {

        &::after {
            background-color: $color;
        }
    }
}

@mixin rotate($angle) {
  -webkit-transform: rotate($angle);
 -moz-transform: rotate($angle);
 -ms-transform: rotate($angle);
 -o-transform: rotate($angle);
 transform: rotate($angle);
}

@mixin shadow($x, $y, $blur:0, $expand:0, $color:#000) {
    -moz-box-shadow:    $x $y $blur $expand $color;
    -webkit-box-shadow: $x $y $blur $expand $color;
    box-shadow:         $x $y $blur $expand $color;
}

@mixin inner_border($color, $size) {
  -moz-box-shadow: inset 0px 0px 0px $size $color;
  -webkit-box-shadow: inset 0px 0px 0px $size $color;
  box-shadow: inset 0px 0px 0px $size $color;
}

@mixin scale($x:-1, $y:-1) {
    -moz-transform: scale($x, $y);
    -webkit-transform: scale($x, $y);
    -o-transform: scale($x, $y);
    -ms-transform: scale($x, $y);
    transform: scale($x, $y);
}


