@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin transform($args...) {
    webkit-transform: $args;
    -moz-transform: $args;
    -ms-transform: $args;
    -o-transform: $args;
    transform: $args;
}

@mixin background_transition($time) {
    @include transition(background-color $time ease-in-out);
}

@mixin underline_on_hover($color, $height:0.0625em) {
    & {
        text-decoration:none;
        position: relative;
    }
    &::after {
        @include background_transition($transition_time_fast);
        content: '';
        display: block;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        height: $height;
    }
    &:hover {

        &::after {
            background-color: $color;
        }
    }
}

@mixin shadow($x, $y, $blur:0, $expand:0, $color:#000) {
    -moz-box-shadow:    $x $y $blur $expand /*$color*/;
    -webkit-box-shadow: $x $y $blur $expand /*$color*/;
    box-shadow:         $x $y $blur $expand /*$color*/;
}

@mixin inner_border($color, $size) {
  -moz-box-shadow: inset 0px 0px 0px $size $color;
  -webkit-box-shadow: inset 0px 0px 0px $size $color;
  box-shadow: inset 0px 0px 0px $size $color;
}

@mixin rotate($angle) {
  @include transform(rotate($angle));
}

@mixin scale($x:-1, $y:-1) {
    @include transform(scale($x, $y));
}

@mixin zoom($factor: 1.125) {
    @include transition(all 0.25s ease-in-out);

    &:hover {
        @include transform(scale($factor));
    }
}


