
@mixin icons_base() {
    // pouzit EM na zmenu velkosti
    width:1em;
    height:1em;
    display: inline-table;
    vertical-align:middle;
    margin: 0.125em;
    position: relative;
    overflow: hidden;

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
    }
}

@mixin info_icon($bg_color) {

    &::before, &::after {
        background-color: $bg_color;
        width:20%;
        left:40%;
        right: 40%;
    }

    &::before {
        bottom: 10%;
        height: 45%;
    }

    &::after {
        bottom: 65%;
        height: 20%;
    }
}

@mixin person_icon($bg_color) {

    &::before, &::after {
        background-color: $bg_color;
    }

    &::before {
        left: 0.1875em;
        width: 0.625em;
        height: 0.375em;
        bottom: 0.125em;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    &::after {
        bottom: 0.4375em;
        width:0.375em;
        height:0.375em;
        left:0.3125em;
        //height: 20%;
        border-radius:50%;
    }
}

@mixin home_icon($bg_color) {

    &::before, &::after {
        background-color: transparent;
    }

    &::before {
        width: 0.125em;
        height: 0.125em;
        border: 0.1875em solid $bg_color;
        left:0.25em;
        bottom:0.125em;
    }

    &::after {
        width:0;
        height:0;
        left:0.125em;
        right:0.125em;
        bottom:0.55em;
        border-bottom: 0.3125em solid $bg_color;
        border-left: 0.375em solid transparent;
        border-right:0.375em solid transparent;
        border-top: 0em solid transparent;
    }
}

@mixin work_icon($bg_color) {

    &::before {
        background-color: $bg_color;
        width:0.6em;
        height:0.4em;
        left:0.2em;
        right:0.2em;
        bottom:0.2em;
    }

    &::after {
        border: 0.1em solid $bg_color;
        background-color: transparent;
        width:0.15em;
        height:0.2em;
        left:0.325em;
        right:0.325em;
        top:0.25em;
    }
}

@mixin heart_icon($bg_color) {

    &::before, &::after {
        background-color: $bg_color;
        width:30%;
        height:60%;
        bottom:20%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    &::before {
        left:21%;
        transform-origin: bottom right;
        transform: rotate(45deg);
        border-bottom-left-radius: 50%;
    }

    &::after {
        right:21%;
        transform-origin: bottom left;
        transform: rotate(-45deg);
        border-bottom-right-radius: 50%;
    }
}

@mixin sputnik($x, $y, $size, $rotate) {
    // $x, $y - lubovolne jednotky
    // $size -  EM
    // $rotate - uhol

    $color: #F3B411;
    $color2: #9FBCBD;

    div.sputnik {
        //telo
        position: relative;
        width: $size;
        padding-bottom: $size;
        left: $x;
        bottom: $y;
        background-color: $color;
        border-radius: 50%;
        transform: rotate($rotate);
        font-size: 1em;

        h2 {
            position: absolute;
            bottom: 0;
            right:0;
            transform: rotate(110deg);
            transform-origin: bottom right;
            //font-size:75%;
        }

        span {
            // anteny
            position: absolute;
            height: 200%;
            width: 1.5%;
            background-color: $color2;
            display: block;
            transform-origin: bottom;
            bottom: 50%;

            &:nth-child(1) {
                transform: rotate(-20deg);
            }

            &:nth-child(2) {
                left: 50%;
                transform: rotate(2deg);
            }

            &:nth-child(3) {
               right: 0;
               transform: rotate(20deg);
            }

            &:nth-child(4) {
                bottom:100%;
                transform: rotate(-2deg);
                height: 145%;
                left:48%;
            }
        }
    }
}

@mixin voyager($width, $rotate, $offset_perc: 10) {
    $antena_color: #eee;
    $construction_color: #666;

    figure.voyager {
        width:$width;
        padding-bottom: $width;
        position:relative;

        div {
            position: absolute;
            top: $width/100 * $offset_perc;
            left: $width/100 * $offset_perc;
            border-radius:50%;
            background-color: $antena_color;
            width:$width/100 * (100 - ($offset_perc * 2));
            height: $width/100 * (100 - ($offset_perc * 2));
            transform: rotate($rotate);

            span, b, i, u, &::before, &::after {
                position: absolute;
                display: block;
                background-color: $construction_color;
            }

            h2 {
                position: absolute;
                top:100%;
                right:100%;
                transform: rotate(-60deg);
                transform-origin: top right;
            }

            &::before, &::after {
               content: '';
               top: 100%;
               width:2%;
               height: 150%;
               transform-origin: top;
            }

            &::before {
               transform: rotate(30deg);
               left:44%;
            }

            &::after {
               transform: rotate(-30deg);
               right:44%;
            }

            span {
                top:47.5%;
                left:15%;
                width: 35%;
                min-height:5%;
                transform-origin: right;

                &:nth-child(2) {
                    transform: rotate(120deg);
                }

                &:nth-child(3) {
                   transform: rotate(240deg);
                }
            }

            b {
               width:20%;
               height:20%;
               top: 40%;
               left: 40%;
               border-radius:50%;
            }

            i {
                width:10%;
                bottom:100%;
                height: 25%;
                left:45%;

                &::before {
                    content: '';
                    position: absolute;
                    bottom:98%;
                    background-color: $construction_color;
                    width:300%;
                    height:100%;
                    right: -100%;
                    border-radius: 25%;
                }
            }

            u {
                width:10%;
                top:100%;
                height: 100%;
                left:45%;
            }
        }
    }
}

@mixin kozmonaut($size) {
    // $size - jednotky EM

    figure.kozmonaut {
        position:relative;
        font-size:$size;
        $color: #EEE;
        $color2: #111;
        $color3:#1A5DAD;

        picture {
            width:1.5em;
            display:block;
            margin:0 auto;
            border-radius: 25%;
            background-color: $color;
            position:relative;
            top:0.5em;
            z-index: 10;

            img {
                max-width:100%;
                display:block;
                overflow:hidden;
                border-radius: 50%;
                border:0.1875em solid $color;
                box-sizing: border-box;
                padding:0.0625em;
                background-color: $color2;
            }
        }

        div {
            display:block;
            width: 2.25em;
            height: 3em;
            background-color: $color;
            margin: 0 auto;
            border-radius:0.0625em;
            position:relative;

            i {
                @include icons_base();
                @include info_icon($color);
                background-color: $color3;
                width: 1em;
                height: 1em;
                border-radius: 50%;
                top:0.75em;
                left:0.625em;
                margin:0;
            }

            span {
                position: absolute;
                display: block;
                background-color: $color;

                &:after {
                    display: block;
                    content: '';
                    position: absolute;
                    box-sizing: border-box;
                    background-color: $color;
                    border: 0.0625em solid $color2;
                }

                &:nth-child(1), &:nth-child(2) {
                    width: 0.5em;
                    height: 2em;
                    top:0.1875em;

                    &:after {
                        top: 2em;
                        height: 0.375em;
                        width: 0.5em;
                        border-bottom-left-radius: 50%;
                        border-bottom-right-radius: 50%;
                    }
                }

                &:nth-child(3), &:nth-child(4) {
                    width: 0.75em;
                    height: 1.5em;
                    top:100%;
                    overflow:hidden;

                    &:after {
                        top:1.25em;
                        border-radius: 50%;
                        width:0.75em;
                        height: 0.5em;
                    }
                }

                &:nth-child(1) {
                    right: -0.3125em;
                    box-shadow: -0.1875em -0.1875em 0em -0.125em $color2, -0.1875em 0.1875em 0em -0.125em $color2;
                    border-top-right-radius: 0.125em;
                }

                &:nth-child(2) {
                    left: -0.3125em;
                    box-shadow: 0.1875em -0.1875em 0em -0.125em $color2, 0.1875em 0.1875em 0em -0.125em $color2;
                     border-top-left-radius: 0.125em;
                }

                &:nth-child(3) {
                    left: 0.25em;
                }

                &:nth-child(4) {
                    right:0.25em;
                }
            }
        }
    }
}



















