@import "./_VARS/colors";
@import "./_VARS/mixins";
@import "./_VARS/effects";
@import "./frontend/specials/sketches";

//@import "./frontend/main/base";
@import "./frontend/main/z_indexes";

html {
    height: 100%;
    @include scrollbars($soft_black, $space_black);
    font-family: Arial, Helvetica, Sans-serif;

    body {
        background-color: $space_black;
        color: $white;
        height: 100%;
        height: 100vm;
        height: 100vmin;
        font-size: 1.25em;
        font-size: 1.25vw;
        font-size: 1.2vmax;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;

        @media only screen and (max-width: 768px) {
            font-size: 1em;
        }

        header {
            color: $white;
            width: 100%;
            display:table;
            vertical-align: middle;
            text-align:center;
            flex: 0 0 auto;
            overflow: hidden;
            @import "./frontend/main/header";

            &.homepage {
                 @import "./frontend/controllers/homepage/header";
            }

            &.portfolios {
                &.index {

                }
                &.show {
                    height:100%;
                    display: block;
                    position: relative;
                }
                @import "./frontend/controllers/portfolio/header";
                @import "./frontend/controllers/portfolio/nav";
            }

            &.blogs {
                 padding-top: 3%;

                &.index {
                    @import "./frontend/controllers/blog/header_index";
                }
            }

            &.blogs.show, &.posts /*&.posts.show, &.posts.all*/  {
                text-align: left;
                padding:0;
                @import "./frontend/controllers/blog/header_show";
            }
        }

        nav {
            @import "./frontend/main/nav";
        }

        main {
            height: 100%;
            overflow-y: visible;
            flex: 1 1 auto;
            @import "./frontend/main/main";
            @import "./frontend/main/pagination";
        }

        &.homepage {
            @import "./frontend/controllers/homepage";

            main {
                @import "./frontend/controllers/homepage/about_me_section";
                @import "./frontend/controllers/homepage/contact_section";
                @import "./frontend/controllers/homepage/intro_section_ship_body";
                @import "./frontend/controllers/homepage/intro_section_solar_panels";
                @import "./frontend/controllers/homepage/news_section";
                @import "./frontend/controllers/homepage/skills_section";
            }
        }

        &.portfolio {
            height:100%;
            @import "./frontend/controllers/portfolio";

            main {
                @import "./frontend/controllers/portfolio/portfolio_section";
                @import "./frontend/controllers/portfolio/show";
            }
        }

        &.blog {
            height:100%;
            @import "./frontend/controllers/blog";

            main {
                @import "./frontend/controllers/blog/blog_index";
                @import "./frontend/controllers/blog/blog_show";
            }
        }

        &.post {
            @import "./frontend/controllers/blog/blog_show";
            @import "./frontend/controllers/post";

            main {
                @import "./frontend/controllers/post/show";
                @import "./frontend/controllers/post/show_comments";
            }
        }

    }
}
