@import "./frontend/variables";

header.homepage {
    //height:auto;

    figure#web_logo {
        @include rotate(-25deg);
        display:table;
        position:relative;
        font-size:3em;
        height:4em;
        margin:0.5em;

        /*span::after {
             content: '';
                display: block;
                background-color: $white;
                height: 0.1em;
                width:100%;
                //position:absolute;
                //bottom:0;

        }*/

        /*span {
            border-bottom: 0.25em solid red;

            b {
                display:inline;

                &::after {
                    content: '';
                    display: inline-block;
                    background-color: $white;
                    height: 0.1em;
                    width:100%;
                    position:absolute;
                    bottom:0;
                }
            }
        }*/

        div.text {
            position:relative;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            letter-spacing:0.0625em;
            font-family: StarFont;
            color: $logo_orange;
            font-weight:bold;
            font-size:1.5em;
            /*padding-top:0.125em;
            padding-left:0.125em;
            padding-right:0.125em;*/
            text-shadow: 2px 2px $pure_black, -2px -2px $pure_black, 2px -2px $pure_black, -2px 2px $pure_black;
            line-height:1em;

            span {
                /*display: inline-block;
                vertical-align: middle;*/
                border-bottom: 0.25em solid white;
            }
        }

        div.bg {
            top:0;
            bottom:0;
            left:0;
            right:0;
            position: absolute;
            display: block;

            &::before {
                content: '';
                display: block;
                background-color: $earth_blue;
                margin: 0 auto;
                width: 4em;
                border-radius:50%;
                height: 100%;
            }
        }

        /*span.dot {
            display:table-cell;
            vertical-align: middle;

            b {
                display: block;
                content: '';
                margin-top: 0.75em;
                width:0.75em;
                height:0.75em;
                background-color: $moon_grey;
                position:relative;
                border-radius: 50%;
            }
        }*/
    }
}
