@import "./frontend/variables";

header.homepage {

    figure#web_logo {
        @include rotate(20deg);
        display: inline-table;
        vertical-align:middle;
        position:relative;
        font-size:4em;
        height:4em;
        margin:0.5em 0;

        div.text {
            position:relative;
            overflow: hidden;
            display: table-cell;
            vertical-align: middle;
            letter-spacing:0.0625em;
            font-family: StarFont;
            color: $logo_orange;
            font-size:1.25em;
            padding-bottom:0.5em;
            text-shadow: 0.0312em 0.0312em 0 $pure_black;
            line-height:1em;

            span {
                position:relative;

                &::after {
                    content: '';
                    height:0.25em;
                    background-color: $grey;
                    position:absolute;
                    top:100%;
                    left:0;
                    right:0;
                    margin-top:0.125em;
                }

                &:first-child {

                    &::after {
                        border-top-left-radius: 0.25em;
                        border-bottom-left-radius: 0.25em;
                    }
                }

                &:last-child {

                    &::after {
                        border-top-right-radius: 0.25em;
                        border-bottom-right-radius: 0.25em;
                    }
                }

                b {
                    font-weight: normal;
                }
            }

            span.text {
                padding-left:0.125em;
            }

            span.dot {

                b {
                    display: inline-block;
                    min-width: 0.5em;
                    position:relative;

                    &::before {
                        display: block;
                        content: '';
                        width:0.5em;
                        height:0.5em;
                        background-color: $black;
                        position:absolute;
                        margin:0 auto;
                        border-radius: 50%;
                        z-index:10;
                    }
                }
            }
        }

        div.bg {
            top:0;
            bottom:0;
            left:0;
            right:0;
            position: absolute;
            display: block;

            &::before {
                content: '';
                display: block;
                background-color: $earth_blue;
                margin: 0 auto;
                width: 4em;
                border-radius:50%;
                height: 100%;
            }
        }
    }
}
