section#o-mne {
    display:table;

    aside {
        @include kozmonaut(4em);
    }

    article {
        font-size:2em;
        width: 99%;
        @include box_sizing();

        p {
            padding-bottom: 1em;

            span {
                display:table-cell;
                line-height:1.25em;

                i.icon {
                    font-size:2em;
                    margin-right: 0.25em;
                    @include icons_base();

                    &#about_me_info_icon {
                        @include person_icon($dirty_white);
                    }

                    &#about_me_home_icon {
                        @include home_icon($dirty_white);
                    }

                    &#about_me_work_icon {
                        @include work_icon($dirty_white);
                    }

                    &#about_me_hobby_icon {
                        @include heart_icon($dirty_white);
                    }
                }

                &:last-child {
                    vertical-align: middle;
                    padding-top: 0.25em;
                }

                &:first-child {
                    vertical-align: middle;
                }

                a {

                    &:hover {
                        text-decoration: underline;
                        cursor:pointer;
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 768px) {

        article {
            font-size: 1.5em;
        }
    }

    @media only screen and (max-width: 640px) {

        article {
            font-size: 1.25em;
        }
    }

    @media only screen and (max-width: 480px) {

        article {
            text-align: center;

            p {

                span {
                    padding: 0;
                    display: block;

                    i.icon {
                        margin:0;
                    }
                }
            }
        }
    }
}
