section#o-mne {
    display:table;

    aside {
        @include kozmonaut(4em);
    }

    article {
        font-size:2em;
        width: 99%;
        @include box_sizing();
        word-break: break-word;

        summary {
            padding-bottom: 0.5em;

            div {
                display:table-cell;
                line-height:1.25em;

                i.icon {
                    font-size:2em;
                    margin-right: 0.25em;
                    @include icons_base();

                    &#about_me_info_icon {
                        @include person_icon($dirty_white);
                    }

                    &#about_me_home_icon {
                        @include home_icon($dirty_white);
                    }

                    &#about_me_work_icon {
                        @include work_icon($dirty_white);
                    }

                    &#about_me_hobby_icon {
                        @include heart_icon($dirty_white);
                    }

                    &#about_me_github_icon {
                        @include github_icon($dirty_white);
                    }

                    &#about_me_stackoverflow_icon {
                        @include stackoverflow_icon($dirty_white);
                    }

                    &#about_me_linkedin_icon {
                        @include linkedin_icon($dirty_white);
                    }

                    &#about_me_education_icon {
                        @include education_icon($dirty_white);
                    }
                }

                &:last-child {
                    vertical-align: middle;
                    padding-top: 0.25em;
                }

                &:first-child {
                    vertical-align: top;
                }

                a {

                    &:hover {
                        text-decoration: underline;
                        cursor:pointer;
                    }
                }

                a.more {
                    text-decoration: none;
                    display: inline-block;
                    padding: 0.5em;
                    border-radius: 1em;
                    background-color: $solar_panel_item_bg;
                    margin:0.5em;
                    @include background_transition($transition_time);

                    &:before {
                        content: "Zobraziť ";
                    }

                    &:hover {
                        background-color: $solar_panel_item_bg_hover;
                    }

                    &.visible {
                        &:before {
                            content: "Skryť ";
                        }
                    }
                }

                div.tablewrap {
                    height: 0;
                    max-height: 0px;
                    display: block;
                    overflow: hidden;
                    @include rollette(1s);

                    &.visible {
                        height: auto;
                        max-height: 2000px;
                    }

                    table {
                        font-size: 0.75em;
                        line-height: 1.125em;
                        display: inline-table;
                        margin-top: 0.5em;
                        margin-bottom: 0.5em; 

                        tr {

                            &.spacer {
                                line-height: 0.5em;
                            }

                            td {
                                width: 1%;

                                &.work_from, &.work_to {
                                    white-space: nowrap;
                                }

                                &.work_separator {
                                    padding: 0em 0.125em;
                                }

                                &.work_to {
                                    padding-right: 1em;
                                }

                                &.work_company {
                                    width: 97%;
                                }

                                &.work_title {

                                    &::before {
                                        content: "-";
                                    }
                                }
                            }
                        }   
                    }
                }
            }
        }
    }

    @media only screen and (max-width: 800px) {

        article {
            font-size: 1.5em;
        }
    }

    @media only screen and (max-width: 640px) {

        article {
            font-size: 1.25em;
        }
    }

    @media only screen and (max-width: 480px) {

        article {
            text-align: center;

            summary {

                div {
                    padding: 0;
                    display: block;

                    i.icon {
                        margin:0;
                    }
                }
            }
        }
    }
}
