@import "./frontend/variables";

section#o-mne {
    padding-left: 16em;
    position:relative;

    aside {
        @include kozmonaut(4em);
        position: absolute;
        top:0;
        bottom:0;
        left:2em;
        //right:3%;
        width: 13em;

        figure {
            //top: 50%;
            //margin-top: -1.5em;
        }
    }

    article {
        font-size:2em;

        span {
            display:inline-block;
            vertical-align: middle;
            line-height:1.125em;

            a {

                &:hover {
                    text-decoration: underline;
                }
            }
        }

        span.icon {
            font-size:2em;
            @include icons_base();

            &#about_me_info_icon {
                @include person_icon($dirty_white);
            }

            &#about_me_home_icon {
                @include home_icon($dirty_white);
            }

            &#about_me_work_icon {
                @include work_icon($dirty_white);
            }

            &#about_me_hobby_icon {
                @include heart_icon($dirty_white);
            }
        }
    }
}
