section#kontakt {

    article {
        @include box_sizing();

        form {

            div {
                margin: 0.5em 0;
                width:100%;

                span {
                    display: block;
                    font-size: 1.25em;

                    &.validation_error_message {
                        font-weight: bold;
                        line-height: 1.75em;
                        vertical-align: middle;
                        display: inline-block;
                        color: $white;
                        background-color: $hell_grey;
                        padding: 0 0.625em;
                        margin-top: 0.5em;
                        border-radius: 0.75em;
                        margin-left: 2.125em;
                        position: relative;

                        &:before {
                            content: '!';
                            position: absolute;
                            right:100%;
                            margin-right:0.5em;
                            width:1.25em;
                            height: 1.25em;
                            line-height: 1.25em;
                            border: 0.25em solid $white;
                            background-color: $bord;
                            text-align: center;
                            border-radius: 50%;
                            font-weight: bold;
                            vertical-align: middle;
                        }
                    }

                    input {
                        font-size: 1.25em;
                    }

                    input, textarea {
                        @include background_transition($transition_time_fast);
                        width:100%;
                        padding:0.25em;
                        font-family: verdana,tahoma,"Bitstream Vera Sans","DejaVu Sans",arial,helvetica,sans-serif;
                        @include box_sizing();
                        background-color: $dirty_white;

                        &.error {
                            //background-color: $bord;
                        }

                        &:active, &:focus {
                            background-color: $pure_white;
                        }
                    }

                    textarea {
                        min-height: 25vh;
                    }
                }

                &#no_sputnik_check {
                    display: table;
                    table-layout: fixed;
                    color: $dirty_white;

                    span {
                        display: table-cell;
                        vertical-align: middle;

                        &:first-child {
                            width: 2em;
                        }

                        input, label {
                            vertical-align: middle;
                            cursor: pointer;

                            a {
                                text-decoration: underline;

                                &:hover {
                                    color: $pure_white;
                                }
                            }
                        }

                        span.validation_error_message {
                            font-size: 1em;
                            display: inline-block;
                            margin-top: 0;
                            margin: 0.125em;
                            margin-left: 2.25em;

                        }

                        input {
                            width:1.25em;
                            height:1.25em;
                            border: 0.25em solid $white;
                            border-radius:1em;
                            background-color: $grey;

                            &:hover, &:focus {
                                background-color: $grey_stronger;
                                border-color: $pure_white;
                            }

                            &:checked {
                                background-color: $soft_black;

                                &:hover, &:focus {
                                    background-color: $black;
                                }
                            }
                        }

                        label {
                            line-height:1.25em;
                        }
                    }
                }

                &#submit_contact {

                    span {

                        input {
                            background-color: $hell_grey;
                            color: $white;
                            font-weight: bold;
                            cursor: pointer;

                            &:hover, &:focus {
                                background-color: $light_black;
                                color: $pure_white;
                            }
                        }
                    }
                }
            }
        }
    }

    aside {
        text-align:center;
        @include parabola(4em);
        @include box_sizing();
    }
}
