@import "./frontend/variables";

header.homepage {
    @include web_logo();

    nav {
        font-size: 1.5em;

        ul {

            &.pagelinks {
                font-size:1.625em;
                padding: 0 1.125em;
            }

            li {

                a {
                    background: #c0c0c0;
                    margin: 0.375em;
                }
            }
        }
    }
}

