@include web_logo();

nav {
    font-size: 1.5em;

    ul {

        &.pagelinks {
            font-size:1.625em;
            padding: 0 1.125em;
        }

        li {

            a {
                @include background_transition(0.125s);
                @include zoom(1.2);
                background: $hell_grey;
                margin: 0.375em;

                &:hover {
                    background: $half;
                }
            }
        }
    }
}

