section#top {

    article#menu {

        div#ship_body {
            position: relative;
            border-radius: 1000em;
            background-color: $rocket_bg;

            &:before {
                content: '';
                width:50%;
                padding-bottom: 50%;
                border: 1em solid $rocket_parts_1_bg;
                background-color: $rocket_window_bg;
                margin:0 auto;
                margin-bottom: 1em;
                border-radius:50%;
            }

            &:after {
                content: 'TOP10';
                font-family: "Courier New", Courier, monospace;
                text-align: center;
                font-size:4em;
                font-weight: bold;
                padding-bottom:1em;
                writing-mode: vertical-rl;
                text-orientation: upright;
                margin: 0 auto;
            }
        }
    }

    @media only screen and (max-width: 768px) {

        article#menu {

            div#ship_body {

                &:before {
                    width: 4em;
                    padding-bottom: 4em;
                    margin: 1em;
                    margin-left: 10%;
                }

                &:after {
                    @include rotate(-90deg);
                    margin: 0.5em;
                    margin-right: auto;
                }
            }
        }
    }
}


