section#top {

    article#menu {

        div#ship_body {
            position: relative;
            border-radius: 1000em;
            background-color: $rocket_bg;

            &:before {
                content: '';
                width:50%;
                padding-bottom: 50%;
                border: 1em solid $rocket_parts_1_bg;
                background-color: $rocket_window_bg;
                margin:0 auto;
                margin-bottom: 1em;
                margin-top: 2em;
                border-radius:50%;
            }

            &:after {
                content: 'TOP OF';
                font-family: "Courier New", Courier, monospace;
                text-align: center;
                font-size:4em;
                font-weight: bold;
                padding-bottom:1em;
                writing-mode: vertical-rl;
                text-orientation: upright;
                margin: 0 auto;
                white-space: nowrap;
                color: $bord;
                text-shadow:
                    -3px -3px 0 $pure_white,
                    3px -3px 0 $pure_white,
                    -3px 3px 0 $pure_white,
                    3px 3px 0 $pure_white;
            }
        }
    }

    @media only screen and (max-width: 800px) {

        article#menu {

            div#ship_body {

                &:before {
                    width: 4em;
                    padding-bottom: 4em;
                    margin: 1em;
                    margin-left: 2em;
                }

                &:after {
                    @include rotate(-90deg);
                    margin: 0.25em;
                    margin-right: auto;
                }
            }
        }
    }

    @media only screen and (max-width: 640px) {

        article#menu {

            div#ship_body {

                &:after {
                    text-orientation: inherit;
                }
            }
        }
    }

    @media only screen and (max-width: 480px) {

        article#menu {

            div#ship_body {
                border-radius: 0;

                &:before {
                    margin:1em 0.5em;
                }

                &:after {
                   margin:0 0.5em;
                }

            }
        }
    }
}


