// parent - section.intro
@import "./frontend/variables";

section#top {

    article#menu {

        div#ship_solar_panels {
            //width: 65%; // pre IE srot
            //margin-right: 2%; // ignorovane pri table-cell
            //@include flex_children(1 1 68%);

            nav {

                ul {

                    li {
                        // solarny panel
                        position: relative;
                        overflow-wrap: break-word;
                        word-break: break-word;

                        div.triangle {
                            outline: 1px solid transparent;
                            position:absolute;
                            top:0;
                            bottom:0;
                            right:100%;
                            width:5%;
                            margin: 0.125em 0;

                            &::before {
                                content: '';
                                position: absolute;
                                height: 51%;
                                bottom: 49%;
                                width:100%;
                                background: linear-gradient(to bottom right, transparent 48%, $solar_panel_holder_bg 49%);
                            }

                            &::after {
                                content: '';
                                position: absolute;
                                top:49%;
                                height: 51%;
                                width:100%;
                                background: linear-gradient(to top right, transparent 48%, $solar_panel_holder_bg 49%);
                            }

                            &.left {
                                right: 131.5%;
                                transform: rotate(180deg);
                                overflow: visible;

                                span {
                                    display: block;
                                    position: absolute;
                                    left:100%;
                                    min-width: 100%;
                                    background-color: $solar_panel_bg;
                                    top:0;
                                    bottom:0;
                                    border-left: 0.25em solid black;
                                }
                            }
                        }

                        h2 {
                            // nadpis
                            font-size: 5em;
                            display: table;

                            a {
                                padding: 0.125em;
                                display: block;
                                margin:0.03125em;
                                margin-left: 0.05em;
                            }
                        }

                        div.menuitem_content {
                            display:table;
                            border-spacing:0;
                            //white-space: nowrap;
                            height: 100%;

                            a, div {
                                vertical-align: middle;
                            }

                            a {
                                font-size: 1.25em;
                            }

                            > a {
                                //kategoria blogu
                                display: table-cell;
                                height: 100%;
                                padding: 0.125em;
                                padding-left:0;
                                padding-right: 0.175em;
                                background-color: $space_softblack;
                                //white-space: nowrap;
                                border-left: 0.3125em solid $space_softblack;
                                @include box_sizing();

                                h3 {
                                    display:table;
                                    font-weight: bold;
                                    height: 100%;
                                    padding: 0.25em 0.375em;
                                    @include box_sizing();

                                    span {
                                       display: table-cell;
                                       vertical-align:middle;
                                       height:100%;
                                    }
                                }
                            }

                            div {
                                display: inline-block;

                                a {
                                    display: block;
                                    float: left;
                                    margin:0.125em;
                                    padding: 0.25em 0.375em;
                                }
                            }
                        }

                        a, h3 {
                            // polozky v solarnom paneli
                            @include background_transition($transition_time);
                            background-color: $solar_panel_item_bg;
                            color: $solar_panel_item_txt;
                            cursor: pointer;

                            &:hover {
                                background-color: $solar_panel_item_bg_hover;
                                color: $solar_panel_item_txt_hover;
                            }
                        }
                    }
                }
            }
        }
    }
}

