@import "./frontend/variables";

section#novinky {
    padding-left:20em;
    position:relative;

    aside {
        position: absolute;
        @include sputnik(0, 0em, 8em, -75deg);
        left:8em;
        top:50%;
    }

    article {

    }
}
