section#novinky {

    article {
        //font-size:1.125em;

        h3 {
            font-size:1.25em;
            margin: 0.375em 0;
        }

        em {
            margin:0.375em 0;
            text-align: right;
            display: inline-block;
            width: 100%;
        }
    }

    div {
        text-align: right;

        a {
            font-size: 2em;
            display: inline-block;
            padding: 0.5em;
            border-radius: 1em;
            background-color: $solar_panel_item_bg;
            margin:0.5em;
            @include background_transition($transition_time);

            &:hover {
                background-color: $solar_panel_item_bg_hover;
            }
        }
    }

    @media only screen and (min-width: 641px) {

        aside {
            @include sputnik(0, 0em, 8em, -75deg);
        }
    }

    @media only screen and (max-width: 640px) {

        aside {
            @include sputnik(0, 0em, 4em, -75deg);

            div.sputnik {
                margin: 0 auto;
            }

            margin-bottom: 3em;
        }
    }
}
