@import "./frontend/variables";

section#skills {

    aside {
        display: block;
        text-align: right;
        @include voyager(16em, 60deg);

        figure { 
            margin-right:5%;
            display: inline-block;
        }
    }

    article {
        white-space:nowrap;
        display: table;
        vertical-align:middle;
        margin: 1em 0;

        div.description {
            display: table-cell;
            vertical-align:middle;

            figure {
                font-size:2em;
                &.size_1 { /* default */ }
                &.size_2 { font-size:1.75em; }
                &.size_3 { font-size:1.5em; }
                &.size_4 { font-size:1.25em; }
                &.size_5 { font-size:1em; }
                min-width: 9em;
                height: 9em;
                position: relative;
                display: inline-table;
                border-radius: 50%;
                text-align: center;
                margin-right:1em;
                vertical-align:middle;

                div.bg {
                    display: block;
                    position: absolute;
                    top: 0.5em;
                    bottom: 0.5em;
                    left:0.5em;
                    right:0.5em;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 50%;
                    width: 8em;
                    height: 8em;
                }

                h3 {
                    vertical-align:middle;
                    display: table-cell;
                    position:relative;

                    span {
                        display:block;
                        background-color: black;
                        color: $white;
                        vertical-align:middle;
                        font-weight:bold;
                        padding:0.125em 0.5em;
                        @include box_sizing();
                        border-radius:1em;
                    }
                }
            }
        }

        div.projects {
            display: table-cell;
            white-space: normal;
            vertical-align:middle;

            a {
                display: inline-table;
                font-size:1.125em;
                border-radius: 50%;
                background-color: red;
                margin: 0.5em;

                &:before {
                    content: '\200B';
                    display: inline-block;
                    padding-top:100%;
                    height:0;
                    vertical-align:middle;
                }

                span {
                    vertical-align:middle;
                    padding:0 0.25em;
                }
            }
        }
    }
}
