section#skills {

    aside {
        text-align: right;

        @media only screen and (min-width: 480px) {
            @include voyager(12em, 55deg, 0);
        }

        @media only screen and (max-width: 480px) {
            @include voyager(8em, 55deg, 0);

            figure.voyager {
                padding-right:2em;
            }
        }

        @media only screen and (max-width: 375px) {
            @include voyager(6em, 55deg, 0);
        }
    }

    article {
        white-space:nowrap;

        div.description {

            figure {
                font-size:2.25em;
                &.size_1 { /* default */ }
                &.size_2 { font-size:2em; }
                &.size_3 { font-size:1.75em; }
                &.size_4 { font-size:1.5em; }
                &.size_5 { font-size:1.25em; }
                position: relative;
                border-radius: 50%;
                text-align: center;
                vertical-align:middle;
                margin-right: 0.5em;
                shape-outside: margin-box;

                h3 {
                    vertical-align:middle;
                    display: table-cell;
                    position:relative;
                    shape-outside: margin-box;
                    border-radius: 50%;

                    span {
                        display:block;
                        vertical-align:middle;
                        font-weight:bold;
                        padding:0.125em 0.25em;
                        @include box_sizing();
                        border-radius:1em;
                        white-space: normal;
                        line-height: 1.125em;
                    }
                }
            }
        }

        div.projects {
            white-space: normal;
            vertical-align:middle;
            text-align:center;
            $planet_width: 66%;

            a {

                &.size_1 {
                    font-size: 2em;
                }

                &.size_2 {
                    font-size: 1.5em;
                }

                &.size_3 {
                    font-size: 1em;
                }

                &.size_4 {
                    font-size: 0.875em;
                }

                &.size_5 {
                    font-size: 0.75em;
                }

                position: relative;
                margin: 0.5em;
                vertical-align: middle;
                white-space: nowrap;
                @include height_expander($planet_width);

                span {
                    vertical-align: middle;
                    position: relative;
                    border-radius: 1em;
                    padding: 0 0.375em;
                    background-color: $black;
                    display: inline-block;
                    white-space: normal;
                }

                span:hover + b.fakehover {

                    &::after {
                        opacity: 1;
                    }
                }

                b {
                    position: absolute;
                    top:0;
                    bottom:0;
                    width: $planet_width;
                    left:(100%-$planet_width)/2;
                    right:(100%-$planet_width)/2;
                    border-radius: 50%;
                    background-color: $black;
                    shape-outside: margin-box;
                }
            }
        }

        @media only screen and (max-width: 640px) {

            div.description {

                figure {
                    margin-right: 0;
                }
            }
        }
    }

    div.tooltip {
        @include voyager(2em, 55deg, 0);

        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        display: none;
        transition: top 1s, left 1s;

        figure, span {
            display: inline-block;
            vertical-align: middle;
        }

        figure {
            position: absolute;
            z-index: 9998;
            
            div {
                box-shadow: 4px 0px 4px #000;

                &:before, &:after {
                    box-shadow: 4px 0px 4px #000;
                }

                i {
                    box-shadow: 4px 0px 4px #000;

                    &:before {
                        box-shadow: 4px 0px 4px #000;
                    }
                }
            }
        }

        & > div.wrap {
            position: absolute;
            top: 0;
            z-index: 9999;
            width: 40vw;

            span {
                font-size: 1.25em;
                padding: 0.375em;
                background-color: black;
                border-radius: 0.25em;
                border: 1px solid white;
                margin: 0.25em 0.5em;
                opacity: 0.9;
                line-height: 1.125em;
                box-shadow: 4px 0px 4px #000;
            }

            &.right {
                right: 100%;
            }

            &.left {
                left: 100%;
            }
        }

    }
}
