@import "./frontend/variables";

section#skills {

    aside {
        text-align: right;
        @include voyager(12em, 55deg, 0);
    }

    article {
        white-space:nowrap;

        div.description {

            figure {
                font-size:2em;
                &.size_1 { /* default */ }
                &.size_2 { font-size:1.75em; }
                &.size_3 { font-size:1.5em; }
                &.size_4 { font-size:1.25em; }
                &.size_5 { font-size:1em; }
                position: relative;
                border-radius: 50%;
                text-align: center;
                vertical-align:middle;

                div.bg {
                    display: block;
                    position: absolute;
                    top: 0.5em;
                    bottom: 0.5em;
                    left:0.5em;
                    right:0.5em;
                    margin-left: auto;
                    margin-right: auto;
                    border-radius: 50%;
                    width: 8em;
                    height: 8em;
                }

                h3 {
                    vertical-align:middle;
                    display: table-cell;
                    position:relative;

                    span {
                        display:block;
                        background-color: black;
                        color: $white;
                        vertical-align:middle;
                        font-weight:bold;
                        padding:0.125em 0.5em;
                        @include box_sizing();
                        border-radius:1em;
                    }
                }
            }
        }

        div.projects {
            white-space: normal;
            vertical-align:middle;
            text-align:center;

            a {
                font-size:1.125em;
                border-radius: 50%;
                background-color: red;
                @include height_expander();

                span {
                    display: inline-block;
                    vertical-align:middle;
                    padding:0 0.5em;
                }
            }
        }
    }
}
