@import "./frontend/variables";

section#skills_description {

    article {
        display: table;
        width:100%;

        & > div {
            display: table-cell;
        }

        div#voyager {
            width: 30%;
            vertical-align: middle;

            @include voyager(100%, 60deg);
        }

        div#skills_description_message {
            vertical-align: middle;

            div.terminal {
                text-align: left;
                padding: 0 3em;

                span.planet {
                    width: 1em;
                    height: 1em;
                    border-radius:50%;
                    //padding:0.5em;
                    margin:0.125em;

                    &.size_1 { font-size: 5em; }
                    &.size_2 { font-size: 4.5em; }
                    &.size_3 { font-size: 4em; }
                    &.size_4 { font-size: 3.5em; }
                    &.size_5 { font-size: 3em; }

                    picture {
                        //max-width:100%;

                        img {
                            max-width:100%;
                            max-height:100%;
                            border-radius: 51%;
                        }
                    }
                }
            }
        }
    }
}
