@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

@mixin background_transition($time) {
    @include transition(background-color $time ease-in-out);
}

@mixin underline_on_hover($color) {
    & {
        text-decoration:none;
        position: relative;
    }
    &::after {
        @include background_transition($transition_time_fast);
        content: '';
        display: block;
        background-color: transparent;
        position: absolute;
        bottom: 0;
        left:0;
        right:0;
        height: 0.0625em;
    }
    &:hover {

        &::after {
            background-color: $color;
        }
    }
}

@mixin box_shadow() {
  $color: #444444;
  -moz-box-shadow: 3px 3px 4px $color;
  -webkit-box-shadow: 3px 3px 4px $color;
  box-shadow: 3px 3px 4px $color;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#444444');
}

@mixin box_shadow_planet($color) {
  -moz-box-shadow: inset -1.5em -1.5em 2em rgba(0,0,0,.5);
  -webkit-box-shadow: inset -1.5em -1.5em 2em rgba(0,0,0,.5);
  box-shadow: inset -1.5em -1.5em 2em rgba(0,0,0,.5);
  //-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  //filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

@mixin box_shadow_moon($color) {
  -moz-box-shadow: 4px 3px 4px $color, inset -1.5em -1.5em 2em rgba(0,0,0,.5);
  -webkit-box-shadow: 3px 0px 4px $color, inset -1.5em -1.5em 2em rgba(0,0,0,.5);
  box-shadow: 4px 3px 4px $color, inset -1.5em -1.5em 2em rgba(0,0,0,.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

/*@mixin box_shadow_planets_inset_only($color) {
  -moz-box-shadow: inset -1.5em -1.5em 2em rgba(0,0,0,.5);
  -webkit-box-shadow: inset -1.5em -1.5em 2em rgba(0,0,0,.5);
  box-shadow: inset -1.5em -1.5em 2em rgba(0,0,0,.5);
  //-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  //filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}/*/

@mixin box_shadow_solar_panel($color, $size) {
  -moz-box-shadow: inset 0px 0px 0px $size $color;
  -webkit-box-shadow: inset 0px 0px 0px $size $color;
  box-shadow: inset 0px 0px 0px $size $color;
  //-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  //filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

@mixin box_shadow_solar_panel_items($color, $size) {
  -moz-box-shadow: 0px 0px 0px $size $color;
  -webkit-box-shadow: 0px 0px 0px $size $color;
  box-shadow: 0px 0px 0px $size $color;
  //-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  //filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

