
@mixin sputnik($x, $y, $size, $rotate) {
    // $x, $y - lubovolne jednotky
    // $size -  EM
    // $rotate - uhol

    $color: #FFCF40;
    $color2: #9FBCBD;
    $shadow_offset: ($size / 5);
    $shadow_disperse: ($shadow_offset / 0.75);

    div.sputnik {
        //telo
        position: relative;
        //display: inline-block;
        width: $size;
        padding-bottom: $size;
        left: $x;
        bottom: $y;
        background-color: $color;
        border-radius: 50%;
        transform: rotate($rotate);
        font-size: 1em;
        -moz-box-shadow: inset (-$shadow_offset) (-$shadow_offset) $shadow_disperse rgba(0,0,0,.5);
        -webkit-box-shadow: inset (-$shadow_offset) (-$shadow_offset) $shadow_disperse rgba(0,0,0,.5);
        box-shadow: inset (-$shadow_offset) (-$shadow_offset) $shadow_disperse rgba(0,0,0,.5);

        &::after {
            content: '';
            display: block;
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            border-radius: 50%;
            background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
            transform: translateX(-25%) translateY(0%) skewX(-20deg);
            filter: blur(($size / 16));
        }

        span {
            // anteny
            position: absolute;
            height: 200%;
            width: 1.5%;
            background-color: $color2;
            display: block;
            transform-origin: bottom;
            bottom: 50%;

            &:nth-child(1) {
                transform: rotate(-20deg);
            }

            &:nth-child(2) {
                left: 50%;
                transform: rotate(2deg);
            }

            &:nth-child(3) {
               right: 0;
               transform: rotate(20deg);
            }

            &:nth-child(4) {
                bottom:100%;
                transform: rotate(-2deg);
                height: 145%;
                left:48%;
            }
        }
    }
}

@mixin icons_base($bg_color) {
    // pouzit EM na zmenu velkosti
    width:1em;
    height:1em;
    border-radius:50%;
    //background-color: $bg_color;
    display: inline-block;
    vertical-align:middle;
    margin: 0.125em;
    position: relative;
    overflow: hidden;

    &::before, &::after {
        content: '';
        display: block;
        position: absolute;
    }
}

@mixin info_icon($bg_color, $fake_trans_color) {

    &::before, &::after {
        background-color: $bg_color;
        width:20%;
        left:40%;
        right: 40%;
    }

    &::before {
        bottom: 10%;
        height: 45%;
    }

    &::after {
        bottom: 65%;
        height: 20%;
    }
}

@mixin home_icon($bg_color, $fake_trans_color) {

    &::before, &::after {
        background-color: $fake_trans_color;
    }

    &::before {
        width: 0.15em;
        height: 0.15em;
        border: 0.175em solid $bg_color;
        left:0.25em;
        right:0.25em;
        bottom:0.2em;
    }

    &::after {
        width:0;
        height:0;
        left:0.10em;
        right:0.10em;
        bottom:0.55em;
        border-bottom: 0.3em solid $bg_color;
        border-left: 0.4em solid transparent;
        border-right:0.4em solid transparent;
        border-top: 0em solid transparent;
    }
}

@mixin work_icon($bg_color, $fake_trans_color) {

    &::before {
        background-color: $bg_color;
        width:0.6em;
        height:0.4em;
        left:0.2em;
        right:0.2em;
        bottom:0.2em;
    }

    &::after {
        border: 0.1em solid $bg_color;
        background-color: transparent;
        width:0.15em;
        height:0.2em;
        left:0.325em;
        right:0.325em;
        top:0.25em;
    }
}

@mixin heart_icon($bg_color, $fake_trans_color) {

    &::before, &::after {
        background-color: $bg_color;
        width:30%;
        height:60%;
        bottom:20%;
        border-top-left-radius: 50%;
        border-top-right-radius: 50%;
    }

    &::before {
        left:21%;
        transform-origin: bottom right;
        transform: rotate(45deg);
        border-bottom-left-radius: 50%;
    }

    &::after {
        right:21%;
        transform-origin: bottom left;
        transform: rotate(-45deg);
        border-bottom-right-radius: 50%;
    }
}



















