$pure_black: #000;
$black: #111;
$mid_black: #222;
$soft_black: #333;

$half: #888;

$pure_white: #fff;
$white: #fafafa;
$dirty_white: #eee;
$darker_dirty_white: #e8e8e8;


$space_black: #000;
$space_blue: #000028;
$sky_blue: #C9E9FF;
$ground_beige: #D5A549;

$rocket_bg: #aaa;
$rocket_nose_bg: #bbb;
$rocket_parts_1_bg: #777;

$solar_panel_bg: #0E2544;
$solar_panel_item_bg_hover: #4576A1;
$solar_panel_item_bg:#054378;
$solar_panel_item_txt_hover:#fff;
$solar_panel_item_txt:#ddd;
$solar_panel_holder_bg: $rocket_parts_1_bg;

$moonlight_black: #555;
$moonshadow_black: #333;

$moon1_bg: #FD4D54;
$moon2_bg: #FDA74D;



$transition_time: 0.3s;
$transition_time_fast: 0.15s;

@import "mixins";
@import "effects";
