$pure_black: #000;
$black: #111;
$mid_black: #222;
$soft_black: #333;
$light_black: #555;
$hell_grey: #666;
$half: #888;
$grey_stronger: #aaa;
$grey: #ccc;

$pure_white: #fff;
$white: #fafafa;
$dirty_white: #eee;
$darker_dirty_white: #e8e8e8;

$red: #f00;
$bord: #A00000;

// pozadia hl. stranky
$space_black:#000010;
$space_softblack: #00001C;
$space_lightblack: #000028;
$space_near: #000034;
$space_blue:#000040;
$earth_blue: #00A3FF;
$earth_blue_hover: #2BB2FF;
$ground_beige: #D5A549;
$logo_orange: #FFAD00;
$logo_moon: #666;
$continent_brown: #845B36;

// hl. stranka - menu
$rocket_bg: #aaa;
$rocket_nose_bg: #bbb;
$rocket_parts_1_bg: #777;
$rocket_window_bg: #99B5CB;

$solar_panel_bg: #0E2544;
$solar_panel_item_bg_hover: #4576A1;
$solar_panel_item_bg:#054378;
$solar_panel_item_txt_hover:#fff;
$solar_panel_item_txt:#ddd;
$solar_panel_holder_bg: $rocket_parts_1_bg;

// portfolio - ukazka
$space_background: #000060;

// blog - top menu
$rocket_2_bg: #ddd;
$rocket_2_engine: #444;

$transition_time: 0.3s;
$transition_time_fast: 0.15s;

